In [21]:
import numpy as np
import pandas as pd

In [117]:
d1 = pd.read_csv('서울시 동별 지하철 수 .csv')
d2 = pd.read_csv('서울 동별 대학 수.csv')
d3 = pd.read_csv('서울시 동별 거주형태.csv',thousands=',')
d4 = pd.read_csv('서울시 주민등록인구(연령별_동별) 통계.csv',thousands=',')
d5 = pd.read_csv('서울시_혼인_이혼.csv')

In [34]:
d1.head()

   구시군   읍면동명  지하철 수   역이름
0  종로구  청운효자동       0  NaN
1  종로구    사직동       0  NaN
2  종로구    삼청동       0  NaN
3  종로구    부암동       0  NaN
4  종로구    평창동       0  NaN

In [35]:
d2.head()

   구시군   읍면동명  대학 수
0  종로구  청운효자동     1
1  종로구    사직동     0
2  종로구    삼청동     0
3  종로구    부암동     1
4  종로구    평창동     0

In [120]:
d3.head()

,기간,자치구,동,합계,단독+다가구+영업주택 합,단독주택,다가구주택,영업겸용,아파트,연립주택,다세대주택,비거주용건물내주택
0,2020,종로구,사직동,2778,650,467,108,75,"1,591",78,411,48
1,2020,종로구,삼청동,730,644,414,134,96,X,19,37,30
2,2020,종로구,부암동,3070,"1,033",750,214,69,121,903,976,37
3,2020,종로구,평창동,5958,"1,553","1,088",314,151,"1,009","2,186","1,139",71
4,2020,종로구,무악동,2860,48,14,9,25,"2,703",55,46,8

In [133]:
d3['단독+다가구+영업주택 합 ', '단독주택', '다가구주택', '영업겸용',
       '아파트', '연립주택', '다세대주택', '비거주용건물내주택']

KeyError: ('단독+다가구+영업주택 합 ', '단독주택', '다가구주택', '영업겸용', '아파트', '연립주택', '다세대주택', '비거주용건물내주택')

In [119]:
d4.head()

         기간  자치구    동   구분     계  0~19세  20~39세  40~59세  60~79세  80세 이상
0  2022.1/4  종로구  사직동    계  9630   1250    2731    3133    1950     566
1  2022.1/4  종로구  사직동  한국인  9370   1233    2642    3007    1925     563
2  2022.1/4  종로구  사직동  외국인   260     17      89     126      25       3
3  2022.1/4  종로구  삼청동    계  2741    345     678     833     703     182
4  2022.1/4  종로구  삼청동  한국인  2441    265     622     724     650     180

In [40]:
d5.head()

     기간  자치구    동  혼인  이혼
0  2021  종로구  사직동  42  16
1  2021  종로구  삼청동  11   6
2  2021  종로구  부암동  35   7
3  2021  종로구  평창동  46  21
4  2021  종로구  무악동  17   3

In [121]:
d4_1 = d4.iloc[0::3]

In [122]:
d4_2 = d4.iloc[1::3]

In [123]:
d4_3 = d4.iloc[2::3]

In [134]:
from functools import reduce
import pandas as pd
dfs = [d1, d2,  d4_1,d4_2,d4_3,d5]
df_merge = reduce(lambda left, right: pd.merge(left, right, on='동'), dfs)

C:\Users\MEDICI\AppData\Local\Temp/ipykernel_4940/3084601587.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'기간_x', '자치구_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = reduce(lambda left, right: pd.merge(left, right, on='동'), dfs)

In [96]:
df_merge

,구시군_x,동,지하철 수,역이름,구시군_y,대학 수,기간_x,자치구_x,합계,단독+다가구+영업주택 합,...,계,0~19세,20~39세,40~59세,60~79세,80세 이상,기간,자치구,혼인,이혼
0,종로구,청운효자동,0,NaN,종로구,1,2020,종로구,"4,134","1,279",...,196,26,53,86,29,2,2021,종로구,31,16
1,종로구,사직동,0,NaN,종로구,0,2020,종로구,"2,778",650,...,260,17,89,126,25,3,2021,종로구,42,16
2,종로구,삼청동,0,NaN,종로구,0,2020,종로구,730,644,...,300,80,56,109,53,2,2021,종로구,11,6
3,종로구,부암동,0,NaN,종로구,1,2020,종로구,"3,070","1,033",...,214,2,164,40,8,0,2021,종로구,35,7
4,종로구,평창동,0,NaN,종로구,0,2020,종로구,"5,958","1,553",...,185,12,51,85,34,3,2021,종로구,46,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,송파구,잠실6동,2,"잠실나루역,잠실역",송파구,0,2020,송파구,"5,372",X,...,123,18,65,37,1,2,2021,송파구,56,16
378,송파구,잠실7동,1,종합운동장역,송파구,0,2020,송파구,"3,198",X,...,15,1,5,7,2,0,2021,송파구,18,11
379,송파구,위례동,1,복정역,송파구,0,2020,송파구,"9,962",X,...,118,7,54,51,6,0,2021,송파구,71,31
380,강동구,강일동,1,강일역,강동구,0,2020,강동구,"11,745",31,...,185,4,107,58,15,1,2021,강동구,84,59
381,강동구,길동,1,길동역,강동구,0,2020,강동구,"14,776",830,...,309,18,140,130,21,0,2021,강동구,216,72

In [137]:
df_merge.columns

Index(['구시군_x', '동', '지하철 수 ', '역이름', '구시군_y', '대학 수', '기간_x', '자치구_x', '구분_x',
       '계_x', '0~19세_x', '20~39세_x', '40~59세_x', '60~79세_x', '80세 이상_x',
       '기간_y', '자치구_y', '구분_y', '계_y', '0~19세_y', '20~39세_y', '40~59세_y',
       '60~79세_y', '80세 이상_y', '기간_x', '자치구_x', '구분', '계', '0~19세', '20~39세',
       '40~59세', '60~79세', '80세 이상', '기간_y', '자치구_y', '혼인', '이혼'],
      dtype='object')

In [138]:
df_merge.drop(['구시군_x','역이름','구시군_y','기간_x', '자치구_x', '구분_x',
       '계_x', '기간_y', '자치구_y', '구분_y', '계_y','기간_x', '자치구_x', '구분', '계','기간_y', '자치구_y' ],axis=1, inplace=True)

In [139]:
data = df_merge.set_index('동',drop=True)

In [140]:
data

,지하철 수,대학 수,0~19세_x,20~39세_x,40~59세_x,60~79세_x,80세 이상_x,0~19세_y,20~39세_y,40~59세_y,60~79세_y,80세 이상_y,0~19세,20~39세,40~59세,60~79세,80세 이상,혼인,이혼
동,,,,,,,,,,,,,,,,,,,
청운효자동,0,1,1889,3138,4077,2387,609,1863,3085,3991,2358,607,26,53,86,29,2,31,16
사직동,0,0,1250,2731,3133,1950,566,1233,2642,3007,1925,563,17,89,126,25,3,42,16
삼청동,0,0,345,678,833,703,182,265,622,724,650,180,80,56,109,53,2,11,6
부암동,0,1,1328,2563,3256,2073,482,1326,2399,3216,2065,482,2,164,40,8,0,35,7
평창동,0,0,2724,4522,6020,4046,960,2712,4471,5935,4012,957,12,51,85,34,3,46,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
잠실6동,2,0,3101,4049,5490,3646,584,3083,3984,5453,3645,582,18,65,37,1,2,56,16
잠실7동,1,0,1498,2132,2980,2408,518,1497,2127,2973,2406,518,1,5,7,2,0,18,11
위례동,1,0,12499,10994,13898,4585,571,12492,10940,13847,4579,571,7,54,51,6,0,71,31
강일동,1,0,6580,8218,10170,6895,1084,6576,8111,10112,6880,1083,4,107,58,15,1,84,59
길동,1,0,5089,14291,14130,10944,1409,5071,14151,14000,10923,1409,18,140,130,21,0,216,72

In [108]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'inline')

In [146]:
kmeans = KMeans(n_clusters=20, init='k-means++', max_iter=300,random_state=0)
kmeans.fit(data)

KMeans(n_clusters=20, random_state=0)

In [142]:
print(kmeans.labels_)
print(kmeans.predict(data))

[1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 0 1 1 1 1
 0 1 0 0 1 1 1 1 2 0 0 2 0 1 1 2 2 1 0 1 0 1 2 2 0 0 2 0 2 0 2 0 1 1 0 0 0
 0 1 1 1 0 0 0 0 2 1 0 0 0 0 0 0 2 2 2 0 0 0 2 1 2 0 0 0 0 0 2 1 1 2 2 0 2
 0 1 1 0 2 2 0 0 0 1 1 0 0 0 0 0 0 1 0 2 2 2 2 0 0 2 0 0 1 1 1 1 0 1 1 2 2
 0 2 2 2 2 2 2 1 0 1 0 0 0 2 0 2 2 2 0 2 2 0 1 0 2 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1
 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 2 0 1 0 0 0 0 0 0 0 2 2 0 1 2 1 0
 1 0 1 0 1 0 2 0 1 0 0 0 0 1 2 0 2 0 2 2 0 2 1 2 0 0 1 1 1 2 1 0 1 0 1 1 1
 0 1 2 0 0 2 2 0 0 2 0 0 2 0 2 2 0 1 1 2 2 2]
[1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 0 1 1 1 1
 0 1 0 0 1 1 1 1 2 0 0 2 0 1 1 2 2 1 0 1 0 1 2 2 0 0 2 0 2 0 2 0 1 1 0 0 0
 0 1 1 1 0 0 0 0 2 1 0 0 0 0 0 0 2 2 2 0 0 0 2 1 2 0 0 0 0 0 2 1 1 2 2 0 2
 0 1 1 0 2 2 0 0 0 1 1 0 0 0 0 0 0 1 0 2 2 2 2 0 0 2 0 0 1 1 1 1 0 1 1 2 2
 0 2 2 2 2 2 2 1 0 1 0 0 0 2 0 2 2 2 0 2 2 0 1 0 2 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1
 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 2 0 1 0 0 0 0 0 0 0 2 2 0 1 2 1 0
 1 0 1 0 1 0 2 0 1 0 0 0 0 1 2 0 2 0 2 2 0 2 1 2 0 0 1 1 1 2 1 0 1 0 1 1 1
 0 1 2 0 0 2 2 0 0 2 0 0 2 0 2 2 0 1 1 2 2 2]

In [147]:
data['cluster']=kmeans.labels_

In [ ]:
data['target'] = data.target
iris_result = irisDF.groupby(['target','cluster'])['sepal_length'].count()
print(iris_result)

In [148]:
data['cluster']

동
청운효자동     0
사직동       0
삼청동      11
부암동       0
평창동      12
         ..
잠실6동     12
잠실7동      0
위례동      17
강일동      18
길동        6
Name: cluster, Length: 318, dtype: int32

In [ ]:
irisDF['target'] = iris.target
iris_result = irisDF.groupby(['target','cluster'])['sepal_length'].count()
print(iris_result)