<a href="https://colab.research.google.com/github/yeonji0-0/Python-codes/blob/main/pandasMain_ipynb_txt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 판다스 연습 튜토리얼

[![Hits](https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fwww.datamanim.com%2Fdataset%2F99_pandas%2FpandasMain.html&count_bg=%237B31AA&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false)](https://hits.seeyoufarm.com)

```
아 제발 광고 한번씩만 눌러주세요 ㅠㅠ 두번은 더 좋구요
```

```{attention}
목차 및 구성 출처 : [원본 깃헙주소](https://github.com/guipsamora/pandas_exercises)     
**데이터 일부 수정 후 작업 진행했습니다.**
```

```{admonition} 주피터 노트북 단축키 참고영상
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=40&end=50></iframe></div>
```

## 01 Getting & Knowing Data

In [1]:
import pandas as pd

```{attention}
롤 랭킹 데이터 : https://www.kaggle.com/datasnaek/league-of-legends    
**DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'**
```

```{admonition} Question 1
**데이터를 로드하라. 데이터는 \t을 기준으로 구분되어있다.**
```

In [3]:
df = pd.read_csv( 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv', sep='\t')
df

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18


```{admonition} 1번 , 주피터 노트북에서 메소드 사용법 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=214&end=580></iframe></div>
```

In [4]:
type(df)

pandas.core.frame.DataFrame

```{admonition} Question 2
**데이터의 상위 5개 행을 출력하라**
```

In [5]:
df.head(5)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

```{admonition} 2번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=582&end=678></iframe></div>
```

In [ ]:
Ans = df.head(5)

In [ ]:
Ans

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

```{admonition} Question 3
**데이터의 행과 열의 갯수를 파악하라**
```

In [8]:
print(len(df.index))
print(len(df.columns))

51490
61

```{admonition} 3번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=680&end=763></iframe></div>
```

In [ ]:
print(df.shape)
print('행:',df.shape[0])
print('열:',df.shape[1])

(51490, 61)
행: 51490
열: 61

```{admonition} Question 4
**전체 컬럼을 출력하라**
```

In [9]:
df.columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

```{admonition} 4번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=765&end=833></iframe></div>
```

In [ ]:
Ans = df.columns

In [ ]:
Ans

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

```{admonition} Question 5
**6번째 컬럼명을 출력하라**
```

In [10]:
df.columns[5]

'firstBlood'

```{admonition} 5번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=835&end=868></iframe></div>
```

In [ ]:
Ans = df.columns[5]

In [ ]:
Ans

'firstBlood'

```{admonition} Question 6
**6번째 컬럼의 데이터 타입을 확인하라**
```

In [14]:
df.iloc[:,5].dtype

dtype('int64')

```{admonition} 6번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=870&end=1071></iframe></div>
```

In [ ]:
Ans = df.iloc[:,5].dtype

In [ ]:
Ans

dtype('int64')

```{admonition} Question 7
**데이터셋의 인덱스 구성은 어떤가**
```

In [15]:
df.index

RangeIndex(start=0, stop=51490, step=1)

```{admonition} 7번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=1073&end=1193></iframe></div>
```

In [ ]:
Ans = df.index

In [ ]:
Ans

RangeIndex(start=0, stop=51490, step=1)

```{admonition} Question 8
**6번째 컬럼의 3번째 값은 무엇인가?**
```

In [16]:
df.iloc[2,5]

2

```{admonition} 8번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=1195&end=1364></iframe></div>
```

In [ ]:
Ans = df.iloc[2,5]

In [ ]:
Ans

2

```{attention}
제주 날씨,인구에 따른 교통량데이터 : 출처 제주 데이터 허브
**DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'**
```

```{admonition} Question 9
**데이터를 로드하라. 컬럼이 한글이기에 적절한 처리해줘야함**
```

In [17]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv', encoding = 'cp949')
df

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,22448,2018-01-01,제주시,도두동,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.50
1,22449,2018-01-01,제주시,외도동,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.50
2,22450,2018-01-01,제주시,이도2동,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.40
3,22451,2018-01-01,제주시,일도1동,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.40
4,22452,2018-01-01,서귀포시,대천동,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9616,32064,2020-04-30,서귀포시,표선면,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,32065,2020-04-30,제주시,한림읍,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

```{admonition} 9번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=1366&end=1470></iframe></div>
```

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(DataUrl,encoding='euc-kr')

In [ ]:
type(df)

pandas.core.frame.DataFrame

```{admonition} Question 10
**데이터 마지막 3개행을 출력하라**
```

In [19]:
df.tail(3)

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.0
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.5
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.8

```{admonition} 10번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=1472&end=1508></iframe></div>
```

In [ ]:
Ans = df.tail(3)

In [ ]:
Ans

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.0
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.5
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.8

```{admonition} Question 11
**수치형 변수를 가진 컬럼을 출력하라**
```

In [25]:
df.select_dtypes(exclude = object).columns

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

In [26]:
df.select_dtypes(exclude = int) # int 빼고 float도 나오게 됨

,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,2018-01-01,제주시,도두동,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.50
1,2018-01-01,제주시,외도동,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.50
2,2018-01-01,제주시,이도2동,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.40
3,2018-01-01,제주시,일도1동,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.40
4,2018-01-01,서귀포시,대천동,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.30
...,...,...,...,...,...,...,...,...,...,...,...,...
9616,2020-04-30,서귀포시,표선면,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,2020-04-30,제주시,한림읍,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

```{admonition} 11번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=1510&end=1768></iframe></div>
```

In [ ]:
Ans = df.select_dtypes(exclude=object).columns

In [ ]:
Ans

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

```{admonition} Question 12
**범주형 변수를 가진 컬럼을 출력하라**
```

In [27]:
df.select_dtypes(include=object)

              일자   시도명  읍면동명
0     2018-01-01   제주시   도두동
1     2018-01-01   제주시   외도동
2     2018-01-01   제주시  이도2동
3     2018-01-01   제주시  일도1동
4     2018-01-01  서귀포시   대천동
...          ...   ...   ...
9616  2020-04-30  서귀포시   표선면
9617  2020-04-30   제주시   한림읍
9618  2020-04-30   제주시   도두동
9619  2020-04-30  서귀포시   안덕면
9620  2020-04-30   제주시    연동

[9621 rows x 3 columns]

```{admonition} 12번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=1770&end=1918></iframe></div>
```

In [ ]:
Ans = df.select_dtypes(include=object).columns

In [ ]:
Ans

Index(['일자', '시도명', '읍면동명'], dtype='object')

```{admonition} Question 13
**각 컬럼의 결측치 숫자를 파악하라**
```

In [28]:
df.isnull().sum()

id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64

```{admonition} 13번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=1920&end=2098></iframe></div>
```

In [ ]:
Ans = df.isnull().sum()

In [ ]:
Ans

id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64

```{admonition} Question 14
**각 컬럼의 데이터수, 데이터타입을 한번에 확인하라**
```

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

```{admonition} 14번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2100&end=2137></iframe></div>
```

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

```{admonition} Question 15
**각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하라**
```

In [30]:
df.describe()

,id,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
count,9621.000000,9.621000e+03,9621.000000,9621.000000,9.621000e+03,9621.000000,9621.000000,9621.000000,9621.000000,9621.000000
mean,27258.000000,3.174315e+05,35471.201510,195889.561802,5.487922e+05,41.109084,37.215873,13.550828,6.972426,2.753171
std,2777.487804,2.982079e+05,40381.214775,140706.090325,4.608802e+05,8.758631,12.993786,7.745515,27.617260,1.498538
min,22448.000000,9.305552e+03,1407.936000,11538.322000,2.225181e+04,24.333000,12.667000,-9.600000,0.000000,0.000000
25%,24853.000000,9.539939e+04,12074.498000,99632.153000,2.216910e+05,34.250000,27.889000,7.600000,0.000000,1.700000
50%,27258.000000,2.221105e+05,21960.928000,152805.335000,3.866935e+05,39.640000,34.500000,13.400000,0.000000,2.400000
75%,29663.000000,4.106671e+05,40192.032000,236325.109000,6.406918e+05,49.105000,46.176000,19.700000,1.500000,3.400000
max,32068.000000,1.364504e+06,263476.965000,723459.209000,2.066484e+06,103.000000,172.200000,30.400000,587.500000,13.333000

```{admonition} 15번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2139&end=2203></iframe></div>
```

In [ ]:
Ans = df.describe()

In [ ]:
Ans

,id,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
count,9621.000000,9.621000e+03,9621.000000,9621.000000,9.621000e+03,9621.000000,9621.000000,9621.000000,9621.000000,9621.000000
mean,27258.000000,3.174315e+05,35471.201510,195889.561802,5.487922e+05,41.109084,37.215873,13.550828,6.972426,2.753171
std,2777.487804,2.982079e+05,40381.214775,140706.090325,4.608802e+05,8.758631,12.993786,7.745515,27.617260,1.498538
min,22448.000000,9.305552e+03,1407.936000,11538.322000,2.225181e+04,24.333000,12.667000,-9.600000,0.000000,0.000000
25%,24853.000000,9.539939e+04,12074.498000,99632.153000,2.216910e+05,34.250000,27.889000,7.600000,0.000000,1.700000
50%,27258.000000,2.221105e+05,21960.928000,152805.335000,3.866935e+05,39.640000,34.500000,13.400000,0.000000,2.400000
75%,29663.000000,4.106671e+05,40192.032000,236325.109000,6.406918e+05,49.105000,46.176000,19.700000,1.500000,3.400000
max,32068.000000,1.364504e+06,263476.965000,723459.209000,2.066484e+06,103.000000,172.200000,30.400000,587.500000,13.333000

```{admonition} Question 16
**거주인구 컬럼의 값들을 출력하라**
```

In [31]:
df['거주인구']

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

```{admonition} 16번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2205&end=2370></iframe></div>
```

In [ ]:
Ans = df['거주인구']

In [ ]:
Ans

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

```{admonition} Question 17
**평균 속도 컬럼의 4분위 범위(IQR) 값을 구하여라**
```

In [33]:
Q1 = df['평균 속도'].quantile(0.25)
Q3 = df['평균 속도'].quantile(0.75)
IQR = Q3 - Q1
IQR

14.854999999999997

In [ ]:
이상치 범위
 (Q1 - 1.5*IQR , Q3 + 1.5*IQR)


```{admonition} 17번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2372&end=2546></iframe></div>
```

In [ ]:
Ans  = df['평균 속도'].quantile(0.75) -df['평균 속도'].quantile(0.25)

In [ ]:
Ans

14.854999999999997

```{admonition} Question 18
**읍면동명 컬럼의 유일값 갯수를 출력하라**
```

In [37]:
len(df['읍면동명'].unique())

41

```{admonition} 18번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2548&end=2638></iframe></div>
```

In [ ]:
Ans = df.읍면동명.nunique()

In [ ]:
Ans

41

```{admonition} Question 19
**읍면동명 컬럼의 유일값을 모두 출력하라**
```

In [38]:
df['읍면동명'].unique()

array(['도두동', '외도동', '이도2동', '일도1동', '대천동', '서홍동', '한경면', '송산동', '조천읍',
       '일도2동', '영천동', '예래동', '대륜동', '삼도1동', '이호동', '건입동', '중앙동', '삼양동',
       '삼도2동', '이도1동', '남원읍', '대정읍', '정방동', '효돈동', '아라동', '한림읍', '구좌읍',
       '용담1동', '오라동', '화북동', '연동', '표선면', '중문동', '성산읍', '안덕면', '천지동',
       '노형동', '동홍동', '용담2동', '봉개동', '애월읍'], dtype=object)

```{admonition} 19번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2640&end=2673></iframe></div>
```

In [ ]:
Ans = df.읍면동명.unique()

In [ ]:
Ans

array(['도두동', '외도동', '이도2동', '일도1동', '대천동', '서홍동', '한경면', '송산동', '조천읍',
       '일도2동', '영천동', '예래동', '대륜동', '삼도1동', '이호동', '건입동', '중앙동', '삼양동',
       '삼도2동', '이도1동', '남원읍', '대정읍', '정방동', '효돈동', '아라동', '한림읍', '구좌읍',
       '용담1동', '오라동', '화북동', '연동', '표선면', '중문동', '성산읍', '안덕면', '천지동',
       '노형동', '동홍동', '용담2동', '봉개동', '애월읍'], dtype=object)

## 02 Filtering & Sorting

```{attention}
식당데이터 : https://github.com/justmarkham/DAT8/blob/master/data/chipotle.tsv  
**DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'**
```

```{admonition} Question 20
**데이터를 로드하라.**
```

In [39]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

```{admonition} 20번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2675&end=2714></iframe></div>
```

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df = pd.read_csv(DataUrl)
Ans = type(df)

In [ ]:
Ans

pandas.core.frame.DataFrame

```{admonition} Question 21
**quantity컬럼 값이 3인 데이터를 추출하여 첫 5행을 출력하라**
```

In [40]:
df[df['quantity'] == 3].head(5)

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

```{admonition} 21번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2716&end=3028></iframe></div>
```

In [ ]:
Ans = df.loc[df['quantity']==3].head()

In [ ]:
Ans

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

```{admonition} Question 22
**quantity컬럼 값이 3인 데이터를 추출하여 index를 0부터 정렬하고 첫 5행을 출력하라**
```

In [42]:
df[df['quantity'] == 3].reset_index().head()

,index,order_id,quantity,item_name,choice_description,item_price
0,409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,689,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,818,338,3,Bottled Water,NaN,$3.27
4,850,350,3,Canned Soft Drink,[Sprite],$3.75

```{admonition} 22번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=3030&end=3133></iframe></div>
```

In [43]:
Ans = df.loc[df['quantity']==3].head().reset_index(drop=True) #이전 인덱스 버리기

In [44]:
Ans

,order_id,quantity,item_name,choice_description,item_price
0,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,338,3,Bottled Water,NaN,$3.27
4,350,3,Canned Soft Drink,[Sprite],$3.75

```{admonition} Question 23
**quantity , item_price 두개의 컬럼으로 구성된 새로운 데이터 프레임을 정의하라**
```

In [46]:
df1 = df[['quantity','item_price']]
df1

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

```{admonition} 23번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=3135&end=3262></iframe></div>
```

In [ ]:
Ans =df[['quantity','item_price']]

In [ ]:
Ans

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

```{admonition} Question 24

check!
**item_price 컬럼의 달러표시 문자를 제거하고 float 타입으로 저장하여 new_price 컬럼에 저장하라**
```

In [53]:
df1['new_price'] = df1['item_price'].str[1:].astype(float)
df1

<ipython-input-53-aeb0d4b9fd90>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['new_price'] = df1['item_price'].str[1:].astype(float)

      quantity item_price  new_price
0            1     $2.39        2.39
1            1     $3.39        3.39
2            1     $3.39        3.39
3            1     $2.39        2.39
4            2    $16.98       16.98
...        ...        ...        ...
4617         1    $11.75       11.75
4618         1    $11.75       11.75
4619         1    $11.25       11.25
4620         1     $8.75        8.75
4621         1     $8.75        8.75

[4622 rows x 3 columns]

In [52]:
df1['item_price'].str[1:].astype(float)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

```{admonition} 24번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=3264&end=3773></iframe></div>
```

In [ ]:
df['new_price'] = df['item_price'].str[1:].astype('float')
Ans = df['new_price'].head()

In [ ]:
Ans

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: new_price, dtype: float64

```{admonition} Question 25
**new_price 컬럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 전체 갯수를 구하여라**
```

In [54]:
a = df1[df1['new_price'] <= 5]
print(a)
print(len(a))

      quantity item_price  new_price
0            1     $2.39        2.39
1            1     $3.39        3.39
2            1     $3.39        3.39
3            1     $2.39        2.39
6            1     $1.69        1.69
...        ...        ...        ...
4606         1     $1.25        1.25
4609         1     $1.25        1.25
4613         1     $2.15        2.15
4614         1     $1.50        1.50
4616         1     $4.45        4.45

[1652 rows x 3 columns]
1652

```{admonition} 25번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=3775&end=3826></iframe></div>
```

In [ ]:
Ans = len(df.loc[df.new_price <=5])

In [ ]:
Ans

1652

```{admonition} Question 26
**item_name명이 Chicken Salad Bowl 인 데이터 프레임을 추출하라고 index 값을 초기화 하여라**
```

In [56]:
df[df['item_name'] == 'Chicken Salad Bowl'].reset_index(drop = True)

,order_id,quantity,item_name,choice_description,item_price
0,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75
1,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50
2,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50
3,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75
4,137,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$17.50
...,...,...,...,...,...
105,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$17.50
106,1822,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",$11.25
107,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
108,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
109,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

```{admonition} 26번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=3828&end=3886></iframe></div>
```

In [ ]:
Ans = df.loc[df.item_name =='Chicken Salad Bowl'].reset_index(drop=True)

In [ ]:
Ans.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
1,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50,22.50
2,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50,22.50

```{admonition} Question 27
**new_price값이 9 이하이고 item_name 값이 Chicken Salad Bowl 인 데이터 프레임을 추출하라**
```

```{admonition} 27번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=3888&end=4006></iframe></div>
```

In [ ]:
Ans = df.loc[(df.item_name =='Chicken Salad Bowl') & (df.new_price <= 9)]

In [ ]:
Ans.head(5)

,order_id,quantity,item_name,choice_description,item_price,new_price
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
256,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
526,220,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
528,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
529,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75

```{admonition} Question 28
**df의 new_price 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화 하여라**
```

In [59]:
df1.sort_values(by = 'new_price', ascending = True).reset_index(drop = True)

      quantity item_price  new_price
0            1     $1.09        1.09
1            1     $1.09        1.09
2            1     $1.09        1.09
3            1     $1.09        1.09
4            1     $1.09        1.09
...        ...        ...        ...
4617         3    $33.75       33.75
4618         4    $35.00       35.00
4619         4    $35.00       35.00
4620         3    $35.25       35.25
4621        15    $44.25       44.25

[4622 rows x 3 columns]

```{admonition} 28번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=4008&end=4163></iframe></div>
```

In [ ]:
Ans = df.sort_values('new_price').reset_index(drop=True)

In [ ]:
Ans.head(4)

   order_id  quantity      item_name choice_description item_price  new_price
0       471         1  Bottled Water                NaN     $1.09        1.09
1       338         1    Canned Soda        [Coca Cola]     $1.09        1.09
2      1575         1    Canned Soda       [Dr. Pepper]     $1.09        1.09
3        47         1    Canned Soda       [Dr. Pepper]     $1.09        1.09

```{admonition} Question 29
check!
**df의 item_name 컬럼 값중 Chips 포함하는 경우의 데이터를 출력하라**
```

In [65]:
df[df['item_name'].str.contains('Chips') == True]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
6,3,1,Side of Chips,NaN,$1.69
10,5,1,Chips and Guacamole,NaN,$4.45
14,7,1,Chips and Guacamole,NaN,$4.45
...,...,...,...,...,...
4596,1826,1,Chips and Guacamole,NaN,$4.45
4600,1827,1,Chips and Guacamole,NaN,$4.45
4605,1828,1,Chips and Guacamole,NaN,$4.45
4613,1831,1,Chips,NaN,$2.15
4616,1832,1,Chips and Guacamole,NaN,$4.45

```{admonition} 29번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=4165&end=4313></iframe></div>
```

In [ ]:
Ans = df.loc[df.item_name.str.contains('Chips')]

In [ ]:
Ans.head(5)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
6,3,1,Side of Chips,NaN,$1.69,1.69
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
14,7,1,Chips and Guacamole,NaN,$4.45,4.45

```{admonition} Question 30
**df의 짝수번째 컬럼만을 포함하는 데이터프레임을 출력하라**
```

In [67]:
df.iloc[:,::2]

      order_id                              item_name item_price
0            1           Chips and Fresh Tomato Salsa     $2.39
1            1                                   Izze     $3.39
2            1                       Nantucket Nectar     $3.39
3            1  Chips and Tomatillo-Green Chili Salsa     $2.39
4            2                           Chicken Bowl    $16.98
...        ...                                    ...        ...
4617      1833                          Steak Burrito    $11.75
4618      1833                          Steak Burrito    $11.75
4619      1834                     Chicken Salad Bowl    $11.25
4620      1834                     Chicken Salad Bowl     $8.75
4621      1834                     Chicken Salad Bowl     $8.75

[4622 rows x 3 columns]

```{admonition} 30번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=4315&end=4498></iframe></div>
```

In [ ]:
Ans = df.iloc[:,::2]

In [ ]:
Ans.head(5)

   order_id                              item_name item_price
0         1           Chips and Fresh Tomato Salsa     $2.39
1         1                                   Izze     $3.39
2         1                       Nantucket Nectar     $3.39
3         1  Chips and Tomatillo-Green Chili Salsa     $2.39
4         2                           Chicken Bowl    $16.98

```{admonition} Question 31
**df의 new_price 컬럼 값에 따라 내림차순으로 정리하고 index를 초기화 하여라**
```

In [68]:
df1.sort_values('new_price', ascending = False).reset_index(drop = True)

      quantity item_price  new_price
0           15    $44.25       44.25
1            3    $35.25       35.25
2            4    $35.00       35.00
3            4    $35.00       35.00
4            3    $33.75       33.75
...        ...        ...        ...
4617         1     $1.09        1.09
4618         1     $1.09        1.09
4619         1     $1.09        1.09
4620         1     $1.09        1.09
4621         1     $1.09        1.09

[4622 rows x 3 columns]

```{admonition} 31번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=4500&end=4559></iframe></div>
```

In [ ]:
Ans = df.sort_values('new_price',ascending=False).reset_index(drop=True)

In [ ]:
Ans.head(4)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
1,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
2,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00

```{admonition} Question 32
**df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 인덱싱하라**
```

In [71]:
df[(df['item_name'] == 'Steak Salad') | (df['item_name'] == 'Bowl')]

,order_id,quantity,item_name,choice_description,item_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40
752,311,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99
893,369,1,Steak Salad,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$8.99
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69

```{admonition} 32번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=4561&end=10000></iframe></div>
```

In [ ]:
Ans = df.loc[(df.item_name =='Steak Salad') | (df.item_name =='Bowl')]

In [ ]:
Ans

,order_id,quantity,item_name,choice_description,item_price,new_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.40
752,311,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
893,369,1,Steak Salad,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$8.99,8.99
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69,8.69

```{admonition} Question 33
check!
**df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 데이터 프레임화 한 후, item_name를 기준으로 중복행이 있으면 제거하되 첫번째 케이스만 남겨라**
```

In [74]:
df2 = df[(df['item_name'] == 'Steak Salad') | (df['item_name'] == 'Bowl')]
df2.drop_duplicates('item_name', inplace=True)
df2

<ipython-input-74-d3ccc60c0b18>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop_duplicates('item_name', inplace=True)

,order_id,quantity,item_name,choice_description,item_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99

```{admonition} 33번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=0&end=227></iframe></div>
```

In [ ]:
Ans = df.loc[(df.item_name =='Steak Salad') | (df.item_name =='Bowl')]
Ans = Ans.drop_duplicates('item_name')

In [ ]:
Ans

,order_id,quantity,item_name,choice_description,item_price,new_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99

```{admonition} Question 34
**df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 데이터 프레임화 한 후, item_name를 기준으로 중복행이 있으면 제거하되 마지막 케이스만 남겨라**
```

```{admonition} 34번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=229&end=388></iframe></div>
```

In [ ]:
Ans = df.loc[(df.item_name =='Steak Salad') | (df.item_name =='Bowl')]
Ans = Ans.drop_duplicates('item_name',keep='last')

In [ ]:
Ans

,order_id,quantity,item_name,choice_description,item_price,new_price
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.40
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69,8.69

```{admonition} Question 35
**df의 데이터 중 new_price값이 new_price값의 평균값 이상을 가지는 데이터들을 인덱싱하라**
```

In [75]:
df1[df1['new_price']> df1['new_price'].mean()]

      quantity item_price  new_price
4            2    $16.98       16.98
5            1    $10.98       10.98
7            1    $11.75       11.75
8            1     $9.25        9.25
9            1     $9.25        9.25
...        ...        ...        ...
4617         1    $11.75       11.75
4618         1    $11.75       11.75
4619         1    $11.25       11.25
4620         1     $8.75        8.75
4621         1     $8.75        8.75

[2890 rows x 3 columns]

```{admonition} 35번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=390&end=598></iframe></div>
```

In [ ]:
Ans = df.loc[df.new_price >= df.new_price.mean()]

In [ ]:
Ans.head(5)

,order_id,quantity,item_name,choice_description,item_price,new_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25

```{admonition} Question 36
**df의 데이터 중 item_name의 값이 Izze 데이터를 Fizzy Lizzy로 수정하라**
```

In [79]:
df['item_name'].replace('Izze', 'Fizzy Lizzy', inplace = True)
df['item_name']

0                Chips and Fresh Tomato Salsa
1                                 Fizzy Lizzy
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

```{admonition} 36번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=600&end=658></iframe></div>
```

In [ ]:
df.loc[df.item_name =='Izze','item_name'] = 'Fizzy Lizzy'
Ans = df

In [ ]:
Ans.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39

```{admonition} Question 37
**df의 데이터 중 choice_description 값이 NaN 인 데이터의 갯수를 구하여라**
```

In [80]:
df['choice_description'].isnull().sum()

1246

```{admonition} 37번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=660&end=792></iframe></div>
```

In [ ]:
Ans = df.choice_description.isnull().sum()

In [ ]:
Ans

1246

```{admonition} Question 38
**df의 데이터 중 choice_description 값이 NaN 인 데이터를 NoData 값으로 대체하라(loc 이용)**
```

In [82]:
df['choice_description'].fillna('NoData', inplace = True)
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

```{admonition} 38번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=794&end=1093></iframe></div>
```

In [ ]:
df.loc[df.choice_description.isnull(),'choice_description'] ='NoData'
Ans = df

In [ ]:
Ans.head()

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

```{admonition} Question 39
**df의 데이터 중 choice_description 값에 Black이 들어가는 경우를 인덱싱하라**
```

In [87]:
df[df['choice_description'].str.contains('Black') == True]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
...,...,...,...,...,...
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75

```{admonition} 39번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=1095&end=1188></iframe></div>
```

In [ ]:
Ans = df[df.choice_description.str.contains('Black')]

In [ ]:
Ans.head(5)

,order_id,quantity,item_name,choice_description,item_price,new_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75

```{admonition} Question 40
**df의 데이터 중 choice_description 값에 Vegetables 들어가지 않는 경우의 갯수를 출력하라**
```

In [91]:
df[-df['choice_description'].str.contains('Vegetables')]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4614,1831,1,Bottled Water,NoData,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NoData,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75

```{admonition} 40번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=1190&end=1323></iframe></div>
```

In [ ]:
Ans = len(df.loc[~df.choice_description.str.contains('Vegetables')])

In [ ]:
Ans

3900

```{admonition} Question 41
**df의 데이터 중 item_name 값이 N으로 시작하는 데이터를 모두 추출하라**
```

In [92]:
df[df['item_name'].str[0] == 'N']

,order_id,quantity,item_name,choice_description,item_price
2,1,1,Nantucket Nectar,[Apple],$3.39
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
105,46,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
173,77,1,Nantucket Nectar,[Apple],$3.39
205,91,1,Nantucket Nectar,[Peach Orange],$3.39
436,189,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
601,247,2,Nantucket Nectar,[Pineapple Orange Banana],$6.78
925,381,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
1356,553,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
1585,641,1,Nantucket Nectar,[Peach Orange],$3.39
1626,656,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
1706,690,1,Nantucket Nectar,[Apple],$3.39
2162,872,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
2379,947,2,Nantucket Nectar,[Peach Orange],$6.78
2381,947,1,Nantucket Nectar,[Apple],$3.39
2430,965,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
2653,1053,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
2818,1118,1,Nantucket Nectar,[Apple],$3.39
2838,1128,1,Nantucket Nectar,[Peach Orange],$3.39
2853,1133,1,Nantucket Nectar,[Apple],$3.39
2949,1172,1,Nantucket Nectar,[Peach Orange],$3.39
3318,1330,1,Nantucket Nectar,[Peach Orange],$3.39
3368,1351,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
3570,1433,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
3845,1541,1,Nantucket Nectar,[Peach Orange],$3.39
4019,1609,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
4078,1632,1,Nantucket Nectar,[Peach Orange],$3.39

```{admonition} 41번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=1325&end=1498></iframe></div>
```

In [ ]:
Ans = df[df.item_name.str.startswith('N')] #다른ver

In [ ]:
Ans.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39,3.39
105,46,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39,3.39

```{admonition} Question 42
check!
**df의 데이터 중 item_name 값의 단어갯수가 15개 이상인 데이터를 인덱싱하라**
```

In [93]:
df[df['item_name'].str.len() >= 15]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
10,5,1,Chips and Guacamole,NoData,$4.45
...,...,...,...,...,...
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NoData,$4.45
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75


```{admonition} 42번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=1500&end=1688></iframe></div>
```

In [ ]:
Ans= df[df.item_name.str.len() >=15]

In [ ]:
Ans.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,2.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39,2.39

```{admonition} Question 43
double check!
**df의 데이터 중 new_price값이 lst에 해당하는 경우의 데이터 프레임을 구하고 그 갯수를 출력하라**
lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]
```

In [95]:
lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]
df1[df1['new_price'].isin(lst)]

      quantity item_price  new_price
0            1     $2.39        2.39
1            1     $3.39        3.39
2            1     $3.39        3.39
3            1     $2.39        2.39
4            2    $16.98       16.98
...        ...        ...        ...
4610         1    $11.75       11.75
4612         1     $9.25        9.25
4616         1     $4.45        4.45
4617         1    $11.75       11.75
4618         1    $11.75       11.75

[1393 rows x 3 columns]

```{admonition} 43번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=1690&end=1836></iframe></div>
```

In [ ]:
lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]

Ans = df.loc[df.new_price.isin(lst)]

In [ ]:
display(Ans.head(3))
print(len(Ans))

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39

1393

## 03_Grouping

```{attention}
뉴욕 airBnB : https://www.kaggle.com/ptoscano230382/air-bnb-ny-2019
**DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv'**
```

```{admonition} Question 44
**데이터를 로드하고 상위 5개 컬럼을 출력하라**
```

In [96]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv')
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

```{admonition} 44번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=1838&end=1858></iframe></div>
```

In [ ]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv')

Ans =df.head(5)

In [ ]:
Ans

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

```{admonition} Question 45
check!
**데이터의 각 host_name의 빈도수를 구하고 host_name으로 정렬하여 상위 5개를 출력하라**
```

In [109]:
df.groupby( 'host_name').size()

host_name
'Cil                        1
(Ari) HENRY LEE             1
(Email hidden by Airbnb)    6
(Mary) Haiy                 1
-TheQueensCornerLot         1
                           ..
단비                          1
빈나                          1
소정                          2
진                           1
현선                          1
Length: 11452, dtype: int64

```{admonition} 45번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=1860&end=2054></iframe></div>
```

In [ ]:
Ans = df.groupby('host_name').size()

# or

Ans = df.host_name.value_counts().sort_index()

In [ ]:
Ans.head(5)

'Cil                        1
(Ari) HENRY LEE             1
(Email hidden by Airbnb)    6
(Mary) Haiy                 1
-TheQueensCornerLot         1
Name: host_name, dtype: int64

```{admonition} Question 46
**데이터의 각 host_name의 빈도수를 구하고 빈도수 기준 내림차순 정렬한 데이터 프레임을 만들어라. 빈도수 컬럼은 counts로 명명하라**
```

In [117]:
a = df['host_name'].value_counts()
pd.DataFrame({'counts' : a})

                   counts
Michael               417
David                 403
Sonder (NYC)          327
John                  294
Alex                  279
...                   ...
Rhonycs                 1
Brandy-Courtney         1
Shanthony               1
Aurore And Jamila       1
Ilgar & Aysel           1

[11452 rows x 1 columns]

```{admonition} 46번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=2056&end=2196></iframe></div>
```

In [ ]:
Ans = df.groupby('host_name').size().\
                to_frame().rename(columns={0:'counts'}).\
                sort_values('counts',ascending=False)

In [ ]:
Ans.head(5)

              counts
host_name
Michael          417
David            403
Sonder (NYC)     327
John             294
Alex             279

```{admonition} Question 47

checnk!
**neighbourhood_group의 값에 따른 neighbourhood컬럼 값의 갯수를 구하여라**
```

In [121]:
df.groupby(['neighbourhood_group','neighbourhood']).size()

neighbourhood_group  neighbourhood
Bronx                Allerton         42
                     Baychester        7
                     Belmont          24
                     Bronxdale        19
                     Castle Hill       9
                                      ..
Staten Island        Tottenville       7
                     West Brighton    18
                     Westerleigh       2
                     Willowbrook       1
                     Woodrow           1
Length: 221, dtype: int64

```{admonition} 47번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=2198&end=2483></iframe></div>
```

In [ ]:
Ans = df.groupby(['neighbourhood_group','neighbourhood'], as_index=False).size()

In [ ]:
Ans.head(4)

  neighbourhood_group neighbourhood  size
0               Bronx      Allerton    42
1               Bronx    Baychester     7
2               Bronx       Belmont    24
3               Bronx     Bronxdale    19

```{admonition} Question 48
**neighbourhood_group의 값에 따른 neighbourhood컬럼 값 중 neighbourhood_group그룹의 최댓값들을 출력하라**
```

neighbourhood_group  neighbourhood
Bronx                Allerton         42
                     Baychester        7
                     Belmont          24
                     Bronxdale        19
                     Castle Hill       9
                                      ..
Staten Island        Tottenville       7
                     West Brighton    18
                     Westerleigh       2
                     Willowbrook       1
                     Woodrow           1
Length: 221, dtype: int64

```{admonition} 48번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=2485&end=2723></iframe></div>
```

In [ ]:
Ans= df.groupby(['neighbourhood_group','neighbourhood'], as_index=False).size()\
                  .groupby(['neighbourhood_group'], as_index=False).max()

In [ ]:
Ans

  neighbourhood_group    neighbourhood  size
0               Bronx         Woodlawn    70
1            Brooklyn  Windsor Terrace  3920
2           Manhattan     West Village  2658
3              Queens         Woodside   900
4       Staten Island          Woodrow    48

```{admonition} Question 49
check!
**neighbourhood_group 값에 따른 price값의 평균, 분산, 최대, 최소 값을 구하여라**
```

In [134]:
df.groupby('neighbourhood_group')['price'].describe().iloc[:,[1,2,3,7]]

                           mean         std   min      max
neighbourhood_group
Bronx                 87.496792  106.709349   0.0   2500.0
Brooklyn             124.383207  186.873538   0.0  10000.0
Manhattan            196.875814  291.383183   0.0  10000.0
Queens                99.517649  167.102155  10.0  10000.0
Staten Island        114.812332  277.620403  13.0   5000.0

In [135]:
df.groupby('neighbourhood_group')['price'].agg(['mean','var','max','min'])

                           mean           var    max  min
neighbourhood_group
Bronx                 87.496792  11386.885081   2500    0
Brooklyn             124.383207  34921.719135  10000    0
Manhattan            196.875814  84904.159185  10000    0
Queens                99.517649  27923.130227  10000   10
Staten Island        114.812332  77073.088342   5000   13

```{admonition} 49번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=2725&end=2893></iframe></div>
```

In [130]:
Ans = df[['neighbourhood_group','price']].groupby('neighbourhood_group').agg(['mean','var','max','min'])

In [ ]:
Ans

                          price
                           mean           var    max min
neighbourhood_group
Bronx                 87.496792  11386.885081   2500   0
Brooklyn             124.383207  34921.719135  10000   0
Manhattan            196.875814  84904.159185  10000   0
Queens                99.517649  27923.130227  10000  10
Staten Island        114.812332  77073.088342   5000  13

```{admonition} Question 50
**neighbourhood_group 값에 따른 reviews_per_month 평균, 분산, 최대, 최소 값을 구하여라**
```

```{admonition} 50번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=2895&end=2956></iframe></div>
```

In [ ]:
Ans = df[['neighbourhood_group','reviews_per_month']].groupby('neighbourhood_group').agg(['mean','var','max','min'])

In [ ]:
Ans

                    reviews_per_month
                                 mean       var    max   min
neighbourhood_group
Bronx                        1.837831  2.799878  10.34  0.02
Brooklyn                     1.283212  2.299040  14.00  0.01
Manhattan                    1.272131  2.651206  58.50  0.01
Queens                       1.941200  4.897848  20.94  0.01
Staten Island                1.872580  2.840895  10.12  0.02

```{admonition} Question 51
**neighbourhood 값과 neighbourhood_group 값에 따른 price 의 평균을 구하라**
```

In [136]:
df.groupby(['neighbourhood','neighbourhood_group'])['price'].mean()

neighbourhood    neighbourhood_group
Allerton         Bronx                   87.595238
Arden Heights    Staten Island           67.250000
Arrochar         Staten Island          115.000000
Arverne          Queens                 171.779221
Astoria          Queens                 117.187778
                                           ...
Windsor Terrace  Brooklyn               138.993631
Woodhaven        Queens                  67.170455
Woodlawn         Bronx                   60.090909
Woodrow          Staten Island          700.000000
Woodside         Queens                  85.097872
Name: price, Length: 221, dtype: float64

```{admonition} 51번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=2958&end=3031></iframe></div>
```

In [ ]:
Ans = df.groupby(['neighbourhood','neighbourhood_group']).price.mean()

In [ ]:
Ans

neighbourhood    neighbourhood_group
Allerton         Bronx                   87.595238
Arden Heights    Staten Island           67.250000
Arrochar         Staten Island          115.000000
Arverne          Queens                 171.779221
Astoria          Queens                 117.187778
                                           ...
Windsor Terrace  Brooklyn               138.993631
Woodhaven        Queens                  67.170455
Woodlawn         Bronx                   60.090909
Woodrow          Staten Island          700.000000
Woodside         Queens                  85.097872
Name: price, Length: 221, dtype: float64

```{admonition} Question 52
??
**neighbourhood 값과 neighbourhood_group 값에 따른 price 의 평균을 계층적 indexing 없이 구하라**
```

```{admonition} 52번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=3033&end=3127></iframe></div>
```

In [ ]:
Ans = df.groupby(['neighbourhood','neighbourhood_group']).price.mean().unstack()

In [ ]:
Ans

neighbourhood_group,Bronx,Brooklyn,Manhattan,Queens,Staten Island
neighbourhood,,,,,
Allerton,87.595238,NaN,NaN,NaN,NaN
Arden Heights,NaN,NaN,NaN,NaN,67.25
Arrochar,NaN,NaN,NaN,NaN,115.00
Arverne,NaN,NaN,NaN,171.779221,NaN
Astoria,NaN,NaN,NaN,117.187778,NaN
...,...,...,...,...,...
Windsor Terrace,NaN,138.993631,NaN,NaN,NaN
Woodhaven,NaN,NaN,NaN,67.170455,NaN
Woodlawn,60.090909,NaN,NaN,NaN,NaN
Woodrow,NaN,NaN,NaN,NaN,700.00
Woodside,NaN,NaN,NaN,85.097872,NaN

```{admonition} Question 53
**neighbourhood 값과 neighbourhood_group 값에 따른 price 의 평균을 계층적 indexing 없이 구하고 nan 값은 -999값으로 채워라**
```

In [139]:
df.groupby(['neighbourhood','neighbourhood_group'])['price'].mean().unstack().fillna(-999)

neighbourhood_group,Bronx,Brooklyn,Manhattan,Queens,Staten Island
neighbourhood,,,,,
Allerton,87.595238,-999.000000,-999.0,-999.000000,-999.00
Arden Heights,-999.000000,-999.000000,-999.0,-999.000000,67.25
Arrochar,-999.000000,-999.000000,-999.0,-999.000000,115.00
Arverne,-999.000000,-999.000000,-999.0,171.779221,-999.00
Astoria,-999.000000,-999.000000,-999.0,117.187778,-999.00
...,...,...,...,...,...
Windsor Terrace,-999.000000,138.993631,-999.0,-999.000000,-999.00
Woodhaven,-999.000000,-999.000000,-999.0,67.170455,-999.00
Woodlawn,60.090909,-999.000000,-999.0,-999.000000,-999.00
Woodrow,-999.000000,-999.000000,-999.0,-999.000000,700.00
Woodside,-999.000000,-999.000000,-999.0,85.097872,-999.00

```{admonition} 53번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=3129&end=3238></iframe></div>
```

In [ ]:
Ans = df.groupby(['neighbourhood','neighbourhood_group']).price.mean().unstack().fillna(-999)

In [ ]:
Ans.head(4)

neighbourhood_group,Bronx,Brooklyn,Manhattan,Queens,Staten Island
neighbourhood,,,,,
Allerton,87.595238,-999.0,-999.0,-999.000000,-999.00
Arden Heights,-999.000000,-999.0,-999.0,-999.000000,67.25
Arrochar,-999.000000,-999.0,-999.0,-999.000000,115.00
Arverne,-999.000000,-999.0,-999.0,171.779221,-999.00

```{admonition} Question 54
**데이터중 neighbourhood_group 값이 Queens값을 가지는 데이터들 중 neighbourhood 그룹별로 price값의 평균, 분산, 최대, 최소값을 구하라**
```

In [142]:
df[df['neighbourhood_group'].str.contains('Queens')].groupby('neighbourhood')['price'].agg(['mean','var','max','min'])

                           mean            var    max  min
neighbourhood
Arverne              171.779221   37383.411141   1500   35
Astoria              117.187778  122428.811196  10000   25
Bay Terrace          142.000000    6816.400000    258   32
Bayside              157.948718  166106.470985   2600   30
Bayswater             87.470588    2330.889706    230   45
Belle Harbor         171.500000    8226.571429    350   85
Bellerose             99.357143    3093.016484    240   42
Breezy Point         213.333333    1008.333333    250  195
Briarwood            105.875000   18503.165909   1000   30
Cambria Heights       81.730769    2960.604615    250   31
College Point         88.000000    6445.555556    400   44
Corona                59.171875    2430.557292    359   23
Ditmars Steinway      95.029126    4214.112785    600   22
Douglaston            82.750000    2347.071429    178   40
East Elmhurst         81.183784    4369.487779    700   16
Edgemere              94.727273    4219.418182    200   40
Elmhurst              80.459916    3896.563005    443   15
Far Rockaway         165.862069   52575.980296    900   35
Flushing              93.514085   12417.177448   1500   15
Forest Hills         121.625000   44533.368881   2350   16
Fresh Meadows         99.500000    6394.451613    375   39
Glendale              90.796296    3230.882250    299   25
Hollis                88.642857    1483.016484    175   50
Holliswood           135.750000    5091.583333    239   79
Howard Beach         115.400000    4241.936842    250   40
Jackson Heights       80.897849    2150.470590    260   23
Jamaica               95.770563    8067.047130   1000   10
Jamaica Estates      182.947368   29006.052632    750   35
Jamaica Hills        132.125000   11304.696429    325   50
Kew Gardens           88.375000    2632.306452    219   35
Kew Gardens Hills    112.307692    6230.621538    399   40
Laurelton             95.333333    4355.529412    254   34
Little Neck           75.200000    2368.700000    149   32
Long Island City     127.465549   15529.503009   2000   30
Maspeth               83.645455    2223.607089    245   11
Middle Village       109.580645    3537.118280    265   28
Neponsit             274.666667    5625.333333    350  200
Ozone Park            85.274194    1705.415389    200   25
Queens Village        83.933333    2386.470056    320   25
Rego Park             83.877358    3659.003863    300   21
Richmond Hill         87.117021    3474.147449    300   28
Ridgewood             77.184397    2629.311889    375   20
Rockaway Beach       132.178571    6254.622078    545   49
Rosedale              76.694915    2963.939801    350   22
South Ozone Park      82.400000    4619.989744    400   29
Springfield Gardens   94.235294    2490.848739    300   40
St. Albans           100.828947    9489.903684    600   25
Sunnyside             84.865014    2727.746922    600   12
Whitestone           107.545455   13632.072727    400   35
Woodhaven             67.170455    1642.464864    250   10
Woodside              85.097872    5001.900636    500   28

```{admonition} 54번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=3240&end=3348></iframe></div>
```

In [ ]:
Ans = df[df.neighbourhood_group=='Queens'].groupby(['neighbourhood']).price.agg(['mean','var','max','min'])

In [ ]:
Ans.head(4)

                     mean            var    max  min
neighbourhood
Arverne        171.779221   37383.411141   1500   35
Astoria        117.187778  122428.811196  10000   25
Bay Terrace    142.000000    6816.400000    258   32
Bayside        157.948718  166106.470985   2600   30

```{admonition} Question 55
**데이터중 neighbourhood_group 값에 따른 room_type 컬럼의 숫자를 구하고 neighbourhood_group 값을 기준으로 각 값의 비율을 구하여라**
```

In [150]:
df.groupby(['neighbourhood_group','room_type']).size() / df.groupby(['neighbourhood_group']).size()

neighbourhood_group  room_type
Bronx                Entire home/apt    0.347388
                     Private room       0.597617
                     Shared room        0.054995
Brooklyn             Entire home/apt    0.475478
                     Private room       0.503979
                     Shared room        0.020543
Manhattan            Entire home/apt    0.609344
                     Private room       0.368496
                     Shared room        0.022160
Queens               Entire home/apt    0.369926
                     Private room       0.595129
                     Shared room        0.034945
Staten Island        Entire home/apt    0.471850
                     Private room       0.504021
                     Shared room        0.024129
dtype: float64

In [146]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,counts
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,NaN
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,NaN
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365,NaN
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,NaN
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9,NaN
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36,NaN
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27,NaN
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2,NaN
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23,NaN

```{admonition} 55번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=3350&end=4128></iframe></div>
```

In [ ]:
Ans = df[['neighbourhood_group','room_type']].groupby(['neighbourhood_group','room_type']).size().unstack()
Ans.loc[:,:] = (Ans.values /Ans.sum(axis=1).values.reshape(-1,1))

In [ ]:
Ans

room_type            Entire home/apt  Private room  Shared room
neighbourhood_group
Bronx                       0.347388      0.597617     0.054995
Brooklyn                    0.475478      0.503979     0.020543
Manhattan                   0.609344      0.368496     0.022160
Queens                      0.369926      0.595129     0.034945
Staten Island               0.471850      0.504021     0.024129


## 04_Apply , Map

```{attention}
카드이용데이터 : https://www.kaggle.com/sakshigoyal7/credit-card-customers
**DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'**
```

```{admonition} Question 56
**데이터를 로드하고 데이터 행과 열의 갯수를 출력하라**
```

In [167]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv')
df.shape

(10127, 19)

```{admonition} 56번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=4130&end=4143></iframe></div>
```

In [ ]:
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv',index_col=0)
Ans =df.shape

In [ ]:
Ans

(10127, 18)

```{admonition} Question 57
double check!!
**Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라**
Unknown        : N    
Less than \$40K : a    
\$40K - \$60K    : b    
\$60K - \$80K    : c    
\$80K - \$120K   : d    
\$120K +'       : e     
```

In [168]:
dic = {
    'Unknown'        : 'N',
    'Less than $40K' : 'a',
    '$40K - $60K'    : 'b',
    '$60K - $80K'    : 'c',
    '$80K - $120K'   : 'd',
    '$120K +'        : 'e'
}

df['newlncome'] = df['Income_Category'].map(lambda x : dic[x])
df

,Unnamed: 0,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,newlncome
0,0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,c
1,1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,a
2,2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,d
3,3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,a
4,4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476,b
10123,10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,4,2,3,4277.0,2186,2091.0,0.804,8764,b
10124,10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291,a
10125,10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,4,3,3,5281.0,0,5281.0,0.535,8395,b
10126,10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,a

```{admonition} 57번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=4145&end=4498></iframe></div>
```

In [ ]:
dic = {
    'Unknown'        : 'N',
    'Less than $40K' : 'a',
    '$40K - $60K'    : 'b',
    '$60K - $80K'    : 'c',
    '$80K - $120K'   : 'd',
    '$120K +'        : 'e'
}

df['newIncome']  =df.Income_Category.map(lambda x: dic[x])

Ans = df['newIncome']

In [ ]:
Ans.head(4)

0    c
1    a
2    d
3    a
Name: newIncome, dtype: object

```{admonition} Question 58
**Income_Category의 카테고리를 apply 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라**
Unknown        : N    
Less than \$40K : a    
\$40K - \$60K    : b    
\$60K - \$80K    : c    
\$80K - \$120K   : d    
\$120K +'       : e     
```

```{admonition} 58번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=4500&end=4687></iframe></div>
```

In [169]:
def changeCategory(x):
    if x =='Unknown':
        return 'N'
    elif x =='Less than $40K':
        return 'a'
    elif x =='$40K - $60K':
        return 'b'
    elif x =='$60K - $80K':
        return 'c'
    elif x =='$80K - $120K':
        return 'd'
    elif x =='$120K +' :
        return 'e'

df['newIncome']  =df.Income_Category.apply(changeCategory)

Ans = df['newIncome']

In [ ]:
Ans.head(4)

0    c
1    a
2    d
3    a
Name: newIncome, dtype: object

```{admonition} Question 59
**Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하라. (0~9 : 0 , 10~19 :10 , 20~29 :20 ... 각 구간의 빈도수를 출력하라**
```

In [170]:
def agestate(x):
  if (x >= 0 ) & (x <= 9):
    return 0
  elif (x >= 10 ) & (x <= 19):
    return 10
  elif (x >= 20 ) & (x <= 29):
    return 20
  elif (x >= 30 ) & (x <= 39):
    return 30
  elif (x >= 40 ) & (x <= 49):
    return 40
  elif (x >= 50 ) & (x <= 59):
    return 50
  elif (x >= 60 ) & (x <= 69):
    return 60
  else:
    return 70

df['AgeState'] = df['Customer_Age'].apply(agestate)
df

,Unnamed: 0,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,newlncome,newIncome,AgeState
0,0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,...,1,3,12691.0,777,11914.0,1.335,1144,c,c,40
1,1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,...,1,2,8256.0,864,7392.0,1.541,1291,a,a,40
2,2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,...,1,0,3418.0,0,3418.0,2.594,1887,d,d,50
3,3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,...,4,1,3313.0,2517,796.0,1.405,1171,a,a,40
4,4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,...,1,0,4716.0,0,4716.0,2.175,816,c,c,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,...,2,3,4003.0,1851,2152.0,0.703,15476,b,b,50
10123,10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,...,2,3,4277.0,2186,2091.0,0.804,8764,b,b,40
10124,10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,...,3,4,5409.0,0,5409.0,0.819,10291,a,a,40
10125,10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,...,3,3,5281.0,0,5281.0,0.535,8395,b,b,30
10126,10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,...,2,4,10388.0,1961,8427.0,0.703,10294,a,a,40

In [154]:
df['Customer_Age'].max()

73

```{admonition} 59번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=4689&end=4842></iframe></div>
```

In [ ]:
# check!
df['AgeState']  = df.Customer_Age.map(lambda x: x//10 *10)

Ans = df['AgeState'].value_counts().sort_index()

In [ ]:
Ans

20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: AgeState, dtype: int64

```{admonition} Question 60
**Education_Level의 값중 Graduate단어가 포함되는 값은 1 그렇지 않은 경우에는 0으로 변경하여 newEduLevel 컬럼을 정의하고 빈도수를 출력하라**
```

In [157]:
df['newEduLevel'] = df['Education_Level'].map(lambda x : x.count('Graduate'))
df['newEduLevel'].sum()

3644

```{admonition} 60번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=4844&end=5168></iframe></div>
```

In [ ]:
df['newEduLevel'] = df.Education_Level.map(lambda x : 1 if 'Graduate' in x else 0)
Ans = df['newEduLevel'].value_counts()

In [ ]:
Ans

0    6483
1    3644
Name: newEduLevel, dtype: int64

```{admonition} Question 61
**Credit_Limit 컬럼값이 4500 이상인 경우 1 그외의 경우에는 모두 0으로 하는 newLimit 정의하라. newLimit 각 값들의 빈도수를 출력하라**
```

In [171]:
df['newLimit'] = df['Credit_Limit'].map(lambda x :1 if x >= 4500 else 0)
df['newLimit'].value_counts()

1    5096
0    5031
Name: newLimit, dtype: int64

```{admonition} 61번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=5170&end=5228></iframe></div>
```

In [ ]:
df['newLimit'] = df.Credit_Limit.map(lambda x : 1 if x>=4500 else 0)
Ans = df['newLimit'].value_counts()

In [ ]:
Ans

1    5096
0    5031
Name: newLimit, dtype: int64

```{admonition} Question 62
**Marital_Status 컬럼값이 Married 이고 Card_Category 컬럼의 값이 Platinum인 경우 1 그외의 경우에는 모두 0으로 하는 newState컬럼을 정의하라. newState의 각 값들의 빈도수를 출력하라**
```

```{admonition} 62번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=5230&end=5748></iframe></div>
```

In [ ]:
def check(x):
    if x.Marital_Status =='Married' and x.Card_Category =='Platinum':
        return 1
    else:
        return 0


df['newState'] = df.apply(check,axis=1)

Ans  = df['newState'].value_counts()

In [ ]:
Ans

0    10120
1        7
Name: newState, dtype: int64

```{admonition} Question 63
**Gender 컬럼값 M인 경우 male F인 경우 female로 값을 변경하여 Gender 컬럼에 새롭게 정의하라. 각 value의 빈도를 출력하라**
```

In [175]:
df['Gender_shot'] = df['Gender'].map(lambda x : 'male' if x == 'M' else 'female'  )
df['Gender_shot'].value_counts()

female    5358
male      4769
Name: Gender_shot, dtype: int64

```{admonition} 63번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=5750&end=5866></iframe></div>
```

In [ ]:
def changeGender(x):
    if x =='M':
        return 'male'
    else:
        return 'female'
df['Gender'] = df.Gender.apply(changeGender)
Ans = df['Gender'].value_counts()

In [ ]:
Ans

female    5358
male      4769
Name: Gender, dtype: int64

## 05_Time_Series

```{attention}
주가 데이터 : https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data
**DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv'**
```

```{admonition} Question 64
**데이터를 로드하고 각 열의 데이터 타입을 파악하라**
```

In [176]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB

```{admonition} 64번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=5868&end=5922></iframe></div>
```

In [211]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB

```{admonition} Question 65
**Yr_Mo_Dy을 판다스에서 인식할 수 있는 datetime64타입으로 변경하라**
```

In [212]:
df['Yr_Mo_Dy'] = pd.to_datetime(df['Yr_Mo_Dy'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   datetime64[ns]
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 667.8 KB

```{admonition} 65번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=5924&end=6118></iframe></div>
```

In [ ]:
df.Yr_Mo_Dy = pd.to_datetime(df.Yr_Mo_Dy)
Ans = df.Yr_Mo_Dy

In [ ]:
Ans.head(4)

0   2061-01-01
1   2061-01-02
2   2061-01-03
3   2061-01-04
Name: Yr_Mo_Dy, dtype: datetime64[ns]

```{admonition} Question 66
**Yr_Mo_Dy에 존재하는 년도의 유일값을 모두 출력하라**
```

In [180]:
df['Yr_Mo_Dy'].dt.year.unique()

array([2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978])

```{admonition} 66번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=6120&end=6358></iframe></div>
```

In [ ]:
Ans = df.Yr_Mo_Dy.dt.year.unique()

In [ ]:
Ans

array([2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978])

```{admonition} Question 67
double check!
**Yr_Mo_Dy에 년도가 2061년 이상의 경우에는 모두 잘못된 데이터이다. 해당경우의 값은 100을 빼서 새롭게 날짜를 Yr_Mo_Dy 컬럼에 정의하라**
```

In [213]:
import datetime
for i in range(len(df)):
  a = df['Yr_Mo_Dy'][i]
  if a.year >= 2061:
    df['Yr_Mo_Dy'][i] = pd.to_datetime(datetime.date(a.year-100, a.month, a.day))
df

<ipython-input-213-a4a54dee5423>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Yr_Mo_Dy'][i] = pd.to_datetime(datetime.date(a.year-100, a.month, a.day))

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

```{admonition} 67번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=6360&end=6698></iframe></div>
```

In [ ]:
def fix_century(x):
    import datetime

    year = x.year - 100 if x.year >= 2061 else x.year
    return pd.to_datetime(datetime.date(year, x.month, x.day))


df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(fix_century)

Ans = df.head(4)

In [ ]:
Ans

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88

```{admonition} Question 68
**년도별 각컬럼의 평균값을 구하여라**
```

In [217]:
df['year'] = df['Yr_Mo_Dy'].dt.year
df.groupby('year').mean()

<ipython-input-217-3ece22844680>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('year').mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
year,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
1966,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
1967,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
1968,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
1969,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
1970,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370

```{admonition} 68번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=6700&end=6808></iframe></div>
```

In [ ]:
Ans = df.groupby(df.Yr_Mo_Dy.dt.year).mean()

In [ ]:
Ans.head(4)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301

```{admonition} Question 69
**weekday컬럼을 만들고 요일별로 매핑하라 ( 월요일: 0 ~ 일요일 :6)**
```

In [225]:
df['weekday'] = df['Yr_Mo_Dy'].map(lambda x : x.weekday())
df['weekday']

AttributeError: ignored

```{admonition} 69번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=6810&end=6933></iframe></div>
```

In [ ]:
df['weekday'] = df.Yr_Mo_Dy.dt.weekday

Ans = df['weekday'].head(3).to_frame()

In [ ]:
Ans

   weekday
0        6
1        0
2        1

```{admonition} Question 70
**weekday컬럼을 기준으로 주말이면 1 평일이면 0의 값을 가지는 WeekCheck 컬럼을 만들어라**
```

In [228]:
df['WeekCheck'] = df['weekday'].map(lambda x : 1 if x > 4 else 0)
df['WeekCheck'].to_frame()

      WeekCheck
0             1
1             0
2             0
3             0
4             0
...         ...
6569          0
6570          0
6571          0
6572          1
6573          1

[6574 rows x 1 columns]

```{admonition} 70번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=6935&end=7055></iframe></div>
```

In [ ]:
df['WeekCheck']  = df['weekday'].map(lambda x : 1 if x in [5,6] else 0)

Ans = df['WeekCheck'].head(3).to_frame()

In [ ]:
Ans

   WeekCheck
0          1
1          0
2          0

```{admonition} Question 71
**년도, 일자 상관없이 모든 컬럼의 각 달의 평균을 구하여라**
```

In [229]:
df.groupby(df['Yr_Mo_Dy'].dt.month).mean()

<ipython-input-229-91bb7fefe150>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(df['Yr_Mo_Dy'].dt.month).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,year,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,,
1,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763,1969.500000,2.989247,0.284946
2,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142,1969.503937,3.005906,0.287402
3,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317,1969.500000,3.000000,0.283154
4,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611,1969.500000,3.011111,0.288889
5,11.724032,10.145619,11.550394,6.307487,10.224301,6.942061,8.797738,8.452903,8.040806,8.524857,12.767258,13.736039,1969.500000,2.982079,0.283154
6,10.451317,8.949704,10.361315,5.652278,9.529926,6.410093,8.009556,7.920796,7.639796,7.729185,12.246407,12.861818,1969.500000,3.007407,0.285185
7,9.992007,8.357778,9.349642,5.416935,9.302634,5.972348,7.843501,7.262760,7.544480,7.321416,11.676505,12.800789,1969.500000,3.001792,0.288530
8,10.213411,8.415143,9.993441,5.270681,8.901559,5.891057,7.772312,6.842025,7.240573,7.002783,11.110090,12.565943,1969.500000,2.991039,0.283154
9,11.458519,9.981002,10.756883,5.615176,9.766315,6.566222,8.609722,7.745677,7.610556,7.689278,12.686389,14.761963,1969.500000,3.009259,0.287037
10,12.660610,11.010681,11.453943,6.065215,10.550251,7.159910,9.387778,8.726308,8.347181,8.850376,14.155323,16.697151,1969.500000,2.998208,0.286738
11,13.200722,11.639500,12.293407,6.247611,10.501130,7.134333,10.814861,8.427167,8.604000,8.943167,13.815741,18.114185,1969.500000,2.992593,0.283333
12,14.446398,12.353602,13.212276,6.829910,11.301254,7.963710,11.849050,9.209355,9.447258,9.627670,14.259516,18.697599,1969.500000,3.017921,0.288530

```{admonition} 71번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=7057&end=7104></iframe></div>
```

In [ ]:
Ans = df.groupby(df.Yr_Mo_Dy.dt.month).mean()

In [ ]:
Ans.head(4)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,
1,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763,2.989247,0.284946
2,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142,3.005906,0.287402
3,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317,3.000000,0.283154
4,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611,3.011111,0.288889

```{admonition} Question 72
check!
**모든 결측치는 컬럼기준 직전의 값으로 대체하고 첫번째 행에 결측치가 있을경우 뒤에있는 값으로 대채하라**
```

In [232]:
df = df.fillna(method = 'ffill').fillna(method = 'bfill') #ffill : 바로 위에값 , bfill:바로 뒤에값
df

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,year,weekday,WeekCheck
0,1961-01-01,15.04,14.96,13.17,9.29,12.62,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961,6,1
1,1961-01-02,14.71,14.96,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961,0,0
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,10.04,8.50,7.67,12.75,12.71,1961,1,0
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961,2,0
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978,2,0
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978,3,0
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978,4,0
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978,5,1
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978,6,1

```{admonition} 72번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=7106&end=7348></iframe></div>
```

In [ ]:
df = df.fillna(method='ffill').fillna(method='bfill')

In [ ]:
df.isnull().sum()

Yr_Mo_Dy     0
RPT          0
VAL          0
ROS          0
KIL          0
SHA          0
BIR          0
DUB          0
CLA          0
MUL          0
CLO          0
BEL          0
MAL          0
weekday      0
WeekCheck    0
dtype: int64

```{admonition} Question 73
**년도 - 월을 기준으로 모든 컬럼의 평균값을 구하여라**
```

In [234]:
df.groupby([df['Yr_Mo_Dy'].dt.year, df['Yr_Mo_Dy'].dt.month]).mean()

<ipython-input-234-44ff02a0e151>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby([df['Yr_Mo_Dy'].dt.year, df['Yr_Mo_Dy'].dt.month]).mean()

                         RPT        VAL        ROS       KIL        SHA  \
Yr_Mo_Dy Yr_Mo_Dy
1961     1         14.932581  12.084194  13.431613  7.736774  11.215806
         2         16.269286  14.975357  14.324643  9.116786  13.852143
         3         11.015806  11.296452  10.752903  7.137742  10.509355
         4         10.722667   9.427667   9.998000  5.830667   8.435000
         5          9.860968   8.735161  10.818065  5.892258   9.490323
...                      ...        ...        ...       ...        ...
1978     8          9.645161   8.259355   9.032258  4.502903   7.368065
         9         10.913667  10.895000  10.635000  5.725000  10.372000
         10         9.897742   8.670968   9.295806  4.721290   8.525161
         11        16.151667  14.802667  13.508000  7.317333  11.475000
         12        16.175484  13.748065  15.635161  7.094839  11.398710

                         BIR        DUB        CLA        MUL        CLO  \
Yr_Mo_Dy Yr_Mo_Dy
1961     1          8.588065  11.184839   9.270968   9.085806  10.107419
         2         10.937500  11.890714  11.846071  11.821429  12.714286
         3          8.866774   9.644194   9.829677  10.646129  11.251935
         4          6.495000   6.925333   7.094667   7.342333   7.237000
         5          6.574839   7.477097   8.177097   8.039355   8.499355
...                      ...        ...        ...        ...        ...
1978     8          5.935161   5.650323   5.417742   7.241290   5.536774
         9          9.278333  10.790333   9.583000  10.069333   8.939000
         10         6.774194   8.115484   7.337742   8.297742   8.243871
         11         8.743000  11.492333   9.657333  10.701333  10.676000
         12         9.241613  12.077419  10.194839  10.616774  11.028710

                         BEL        MAL    year   weekday  WeekCheck
Yr_Mo_Dy Yr_Mo_Dy
1961     1         13.880968  14.703226  1961.0  2.935484   0.290323
         2         18.583214  15.411786  1961.0  3.000000   0.285714
         3         16.410968  15.637742  1961.0  3.000000   0.258065
         4         11.147333  10.278333  1961.0  3.166667   0.333333
         5         11.900323  12.011613  1961.0  2.806452   0.258065
...                      ...        ...     ...       ...        ...
1978     8         10.466774  12.054194  1978.0  2.903226   0.258065
         9         15.680333  19.391333  1978.0  3.100000   0.300000
         10        13.776774  17.150000  1978.0  2.935484   0.290323
         11        17.404667  20.723000  1978.0  2.966667   0.266667
         12        13.859677  21.371613  1978.0  3.193548   0.322581

[216 rows x 15 columns]

```{admonition} 73번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=7350&end=7593></iframe></div>
```

In [ ]:
# check!
Ans = df.groupby(df.Yr_Mo_Dy.dt.to_period('M')).mean()

In [ ]:
Ans.head(3)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,
1961-01,14.932581,12.084194,13.431613,7.736774,11.215806,8.588065,11.184839,9.270968,9.085806,10.107419,13.880968,14.703226,2.935484,0.290323
1961-02,16.269286,14.975357,14.324643,9.116786,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786,3.000000,0.285714
1961-03,11.015806,11.296452,10.752903,7.137742,10.509355,8.866774,9.644194,9.829677,10.646129,11.251935,16.410968,15.637742,3.000000,0.258065

```{admonition} Question 74
double check
**RPT 컬럼의 값을 일자별 기준으로 1차차분하라**
```

In [238]:
df['RPT'].diff()

0        NaN
1      -0.33
2       3.79
3      -7.92
4       2.75
        ...
6569    3.75
6570   -4.37
6571    0.79
6572    4.50
6573    1.83
Name: RPT, Length: 6574, dtype: float64

```{admonition} 74번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=7595&end=7648></iframe></div>
```

In [ ]:
Ans = df['RPT'].diff()

In [ ]:
Ans.head(3)

0     NaN
1   -0.33
2    3.79
Name: RPT, dtype: float64

```{admonition} Question 75
double check
**RPT와 VAL의 컬럼을 일주일 간격으로 각각 이동평균한값을 구하여라**
```

In [239]:
df[['RPT','VAL']].rolling(7).mean()

            RPT        VAL
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
6569  11.868571   9.362857
6570  11.904286   9.595714
6571  13.017143  10.011429
6572  13.285714  10.118571
6573  14.951429  11.801429

[6574 rows x 2 columns]

```{admonition} 75번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=7650&end=7756></iframe></div>
```

In [ ]:
Ans= df[['RPT','VAL']].rolling(7).mean()

In [ ]:
Ans.head(9)

         RPT        VAL
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN
5        NaN        NaN
6  14.124286  12.727143
7  13.541429  11.982857
8  13.237143  11.392857

```{attention}
서울시 미세먼지 데이터 : https://www.airkorea.or.kr/web/realSearch?pMENU_NO=97
**DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv'**
```

In [240]:
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv')

```{admonition} Question 76
**년-월-일:시 컬럼을 pandas에서 인식할 수 있는 datetime 형태로 변경하라. 서울시의 제공데이터의 경우 0시가 24시로 표현된다**
```

In [242]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1239 entries, 0 to 1238
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   (년-월-일:시)  1239 non-null   object
 1   PM10등급     1233 non-null   object
 2   PM10       1233 non-null   float64
 3   PM2.5등급    1232 non-null   object
 4   PM2.5      1232 non-null   float64
 5   오존등급       1232 non-null   object
 6   오존         1232 non-null   float64
 7   이산화질소등급    1232 non-null   object
 8   이산화질소      1232 non-null   float64
 9   일산화탄소등급    1232 non-null   object
 10  일산화탄소      1232 non-null   float64
 11  아황산가스등급    1232 non-null   object
 12  아황산가스      1232 non-null   float64
dtypes: float64(6), object(7)
memory usage: 126.0+ KB

In [244]:
df['(년-월-일:시)']

0       2021-05-15:15
1       2021-05-15:14
2       2021-05-15:13
3       2021-05-15:12
4       2021-05-15:11
            ...
1234    2021-03-25:05
1235    2021-03-25:04
1236    2021-03-25:03
1237    2021-03-25:02
1238    2021-03-25:01
Name: (년-월-일:시), Length: 1239, dtype: object

```{admonition} 76번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=7758&end=8278></iframe></div>
```

In [245]:
def change_date(x):
    import datetime
    hour = x.split(':')[1]
    date = x.split(":")[0]

    if hour =='24':
        hour ='00:00:00'

        FinalDate = pd.to_datetime(date +" "+hour) +datetime.timedelta(days=1)

    else:
        hour = hour +':00:00'
        FinalDate = pd.to_datetime(date +" "+hour)

    return FinalDate

df['(년-월-일:시)'] = df['(년-월-일:시)'].apply(change_date)

Ans = df

In [ ]:
Ans.head(3)

,(년-월-일:시),PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스
0,2021-05-15 15:00:00,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003
1,2021-05-15 14:00:00,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003
2,2021-05-15 13:00:00,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004

```{admonition} Question 77
check
**일자별 영어요일 이름을 dayName 컬럼에 저장하라**
```

In [251]:
df['(년-월-일:시)'].dt.day_name()

0       Saturday
1       Saturday
2       Saturday
3       Saturday
4       Saturday
          ...
1234    Thursday
1235    Thursday
1236    Thursday
1237    Thursday
1238    Thursday
Name: (년-월-일:시), Length: 1239, dtype: object

```{admonition} 77번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=8280&end=8376></iframe></div>
```

In [252]:
df['dayName']  =df['(년-월-일:시)'].dt.day_name()
Ans =df['dayName']

In [ ]:
Ans.head(5)

0    Saturday
1    Saturday
2    Saturday
3    Saturday
4    Saturday
Name: dayName, dtype: object

```{admonition} Question 78
double check
**일자별 각 PM10등급의 빈도수를 파악하라**
```

In [256]:
df.groupby([df['(년-월-일:시)'].dt.day,'PM10등급']).size()

(년-월-일:시)  PM10등급
1          보통        36
           좋음        11
2          보통        24
           좋음        24
3          보통        35
                     ..
30         나쁨         6
           매우나쁨      10
           보통        19
           좋음        12
31         보통        24
Length: 80, dtype: int64

```{admonition} 78번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=8378&end=8518></iframe></div>
```

In [ ]:
Ans1 = df.groupby(['dayName','PM10등급'],as_index=False).size()
Ans2 = Ans1.pivot(index='dayName',columns='PM10등급',values='size').fillna(0)

In [ ]:
Ans1.head()

  dayName PM10등급  size
0  Friday     나쁨    31
1  Friday   매우나쁨    17
2  Friday     보통   120
3  Friday     좋음    21
4  Monday     나쁨     1

In [ ]:
Ans2

PM10등급       나쁨  매우나쁨     보통    좋음
dayName
Friday     31.0  17.0  120.0  21.0
Monday      1.0  21.0   83.0  63.0
Saturday   31.0  27.0   71.0  54.0
Sunday      2.0   1.0   67.0  98.0
Thursday   41.0   0.0  144.0   5.0
Tuesday    13.0  10.0   71.0  74.0
Wednesday  26.0   0.0   95.0  46.0

```{admonition} Question 79
**시간이 연속적으로 존재하며 결측치가 없는지 확인하라**
```

```{admonition} 79번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=8520&end=8630></iframe></div>
```

In [ ]:
# 시간을 차분했을 경우 첫 값은 nan, 이후 모든 차분값이 동일하면 연속이라 판단한다.
check = len(df['(년-월-일:시)'].diff().unique())
if check ==2:
    Ans =True
else:
    Ans = False

In [ ]:
Ans

True

```{admonition} Question 80
**오전 10시와 오후 10시(22시)의 PM10의 평균값을 각각 구하여라**
```

In [259]:
df[df['(년-월-일:시)'].dt.hour == 10]['PM10'].mean()
df[df['(년-월-일:시)'].dt.hour == 22]['PM10'].mean()

69.94117647058823

```{admonition} 80번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=8632&end=8719></iframe></div>
```

In [ ]:
Ans = df.groupby(df['(년-월-일:시)'].dt.hour).mean().iloc[[10,22],[0]]

In [ ]:
Ans

                PM10
(년-월-일:시)
10         70.384615
22         69.941176

```{admonition} Question 81
**날짜 컬럼을 index로 만들어라**
```

In [262]:
df.set_index(df['(년-월-일:시)'], drop=True, inplace = True)

```{admonition} 81번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=8721&end=8756></iframe></div>
```

In [ ]:
df.set_index('(년-월-일:시)',inplace=True,drop=True)

Ans =df

In [ ]:
Ans.head(3)

,PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스,dayName
(년-월-일:시),,,,,,,,,,,,,
2021-05-15 15:00:00,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003,Saturday
2021-05-15 14:00:00,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003,Saturday
2021-05-15 13:00:00,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004,Saturday

```{admonition} Question 82
check!
**데이터를 주단위로 뽑아서 최소,최대 평균, 표준표차를 구하여라**
```

In [272]:
df.resample('W').agg(['min','max','mean','std'])

<ipython-input-272-74d4080339ab>:1: FutureWarning: ['(년-월-일:시)', 'PM10등급', 'PM2.5등급', '오존등급', '이산화질소등급', '일산화탄소등급', '아황산가스등급', 'dayName'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.resample('W').agg(['min','max','mean','std'])

            PM10                                 PM2.5                    \
             min     max        mean         std   min    max       mean
(년-월-일:시)
2021-03-28   6.0   160.0   72.747368   43.345462   4.0  113.0  44.705263
2021-04-04   3.0   598.0   97.148810  129.911976   1.0  120.0  23.168675
2021-04-11  17.0   102.0   41.059524   16.325911   7.0   70.0  21.761905
2021-04-18   3.0   367.0   48.180723   43.254468   2.0   38.0  17.066265
2021-04-25  17.0   126.0   55.119048   26.659936   7.0   61.0  26.392857
2021-05-02   3.0    97.0   40.612121   24.813103   1.0   43.0  16.644578
2021-05-09   8.0  1024.0  161.660714  239.679148   3.0  172.0  34.738095
2021-05-16  16.0   111.0   40.014815   21.876855   7.0   76.0  21.577778

                          오존         ...     이산화질소           일산화탄소       \
                  std    min    max  ...      mean       std   min  max
(년-월-일:시)                            ...
2021-03-28  29.551928  0.002  0.085  ...  0.044579  0.023722   0.3  1.4
2021-04-04  22.399578  0.003  0.055  ...  0.027929  0.014978   0.3  0.9
2021-04-11  11.479343  0.009  0.070  ...  0.022583  0.009562   0.3  0.7
2021-04-18   7.867952  0.002  0.070  ...  0.023753  0.013553   0.3  0.6
2021-04-25  13.094788  0.006  0.090  ...  0.028571  0.014640   0.3  0.8
2021-05-02   8.850965  0.003  0.064  ...  0.020428  0.011676   0.3  0.6
2021-05-09  39.788248  0.002  0.073  ...  0.024187  0.012371   0.3  1.0
2021-05-16  15.622633  0.004  0.123  ...  0.030793  0.009503   0.3  0.8

                                아황산가스
                mean       std    min    max      mean       std
(년-월-일:시)
2021-03-28  0.611579  0.232408  0.002  0.006  0.003274  0.000961
2021-04-04  0.445833  0.135741  0.002  0.004  0.002732  0.000541
2021-04-11  0.389286  0.087573  0.002  0.004  0.002744  0.000569
2021-04-18  0.386747  0.084954  0.002  0.004  0.002464  0.000579
2021-04-25  0.457143  0.122142  0.001  0.011  0.003631  0.001763
2021-05-02  0.392771  0.092485  0.001  0.006  0.002524  0.000768
2021-05-09  0.419277  0.103230  0.002  0.004  0.002771  0.000579
2021-05-16  0.440741  0.094075  0.001  0.006  0.002459  0.001696

[8 rows x 24 columns]

```{admonition} 82번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=8758&end=9102></iframe></div>
```

In [ ]:
Ans = df.resample('W').agg(['min','max','mean','std'])

In [ ]:
Ans.head(5)

            PM10                               PM2.5                    \
             min    max       mean         std   min    max       mean
(년-월-일:시)
2021-03-28   6.0  160.0  72.747368   43.345462   4.0  113.0  44.705263
2021-04-04   3.0  598.0  97.148810  129.911976   1.0  120.0  23.168675
2021-04-11  17.0  102.0  41.059524   16.325911   7.0   70.0  21.761905
2021-04-18   3.0  367.0  48.180723   43.254468   2.0   38.0  17.066265
2021-04-25  17.0  126.0  55.119048   26.659936   7.0   61.0  26.392857

                          오존         ...     이산화질소           일산화탄소       \
                  std    min    max  ...      mean       std   min  max
(년-월-일:시)                            ...
2021-03-28  29.551928  0.002  0.085  ...  0.044579  0.023722   0.3  1.4
2021-04-04  22.399578  0.003  0.055  ...  0.027929  0.014978   0.3  0.9
2021-04-11  11.479343  0.009  0.070  ...  0.022583  0.009562   0.3  0.7
2021-04-18   7.867952  0.002  0.070  ...  0.023753  0.013553   0.3  0.6
2021-04-25  13.094788  0.006  0.090  ...  0.028571  0.014640   0.3  0.8

                                아황산가스
                mean       std    min    max      mean       std
(년-월-일:시)
2021-03-28  0.611579  0.232408  0.002  0.006  0.003274  0.000961
2021-04-04  0.445833  0.135741  0.002  0.004  0.002732  0.000541
2021-04-11  0.389286  0.087573  0.002  0.004  0.002744  0.000569
2021-04-18  0.386747  0.084954  0.002  0.004  0.002464  0.000579
2021-04-25  0.457143  0.122142  0.001  0.011  0.003631  0.001763

[5 rows x 24 columns]

## 06_Pivot

```{attention}
국가별 5세이하 사망비율 통계 : https://www.kaggle.com/utkarshxy/who-worldhealth-statistics-2020-complete
Dataurl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/under5MortalityRate.csv'
```

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/under5MortalityRate.csv')

```{admonition} Question 83
**Indicator을 삭제하고 First Tooltip 컬럼에서 신뢰구간에 해당하는 표현을 지워라**
```

In [14]:
df.drop('Indicator', axis=1, inplace = True)
df['First Tooltip'] = df['First Tooltip'].str[:6]

```{admonition} 83번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9104&end=9322></iframe></div>
```

In [ ]:
df.drop('Indicator',axis=1,inplace=True)

df['First Tooltip'] = df['First Tooltip'].map(lambda x: float(x.split("[")[0]))

Ans = df

In [ ]:
Ans.head(4)

      Location  Period        Dim1  First Tooltip
0  Afghanistan    2019  Both sexes          60.27
1  Afghanistan    2019        Male          63.83
2  Afghanistan    2019      Female          56.57
3  Afghanistan    2018  Both sexes          62.54

```{admonition} Question 84
**년도가 2015년 이상, Dim1이 Both sexes인 케이스만 추출하라**
```

In [6]:
df[(df['Period'] >= 2015) & (df['Dim1'] == 'Both sexes')]

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Both sexes,60.27 [47.44-74.62]
3,Afghanistan,2018,Under-five mortality rate (probability of dyin...,Both sexes,62.54 [50.64-75.41]
6,Afghanistan,2017,Under-five mortality rate (probability of dyin...,Both sexes,64.94 [53.74-76.83]
9,Afghanistan,2016,Under-five mortality rate (probability of dyin...,Both sexes,67.57 [57.07-78.65]
12,Afghanistan,2015,Under-five mortality rate (probability of dyin...,Both sexes,70.44 [60.72-80.86]
...,...,...,...,...,...
29943,Timor-Leste,2019,Under-five mortality rate (probability of dyin...,Both sexes,44.22 [26.45-74.29]
29946,Timor-Leste,2018,Under-five mortality rate (probability of dyin...,Both sexes,45.62 [28.21-74.26]
29949,Timor-Leste,2017,Under-five mortality rate (probability of dyin...,Both sexes,47.27 [30.05-74.24]
29952,Timor-Leste,2016,Under-five mortality rate (probability of dyin...,Both sexes,49.01 [32.03-74.01]
29955,Timor-Leste,2015,Under-five mortality rate (probability of dyin...,Both sexes,50.76 [34.49-73.94]

```{admonition} 84번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9324&end=9421></iframe></div>
```

In [15]:
target = df[(df.Period >=2015) & (df.Dim1 =='Both sexes')]
Ans = target

In [ ]:
Ans.head(3)

      Location  Period        Dim1  First Tooltip
0  Afghanistan    2019  Both sexes          60.27
3  Afghanistan    2018  Both sexes          62.54
6  Afghanistan    2017  Both sexes          64.94

```{admonition} Question 85
check!
**84번 문제에서 추출한 데이터로 아래와 같이 나라에 따른 년도별 사망률을 데이터 프레임화 하라**
```

In [16]:
target.groupby(['Location','Period'])['First Tooltip'].sum()

Location     Period
Afghanistan  2015      70.44
             2016      67.57
             2017      64.94
             2018      62.54
             2019      60.27
                        ...
Timor-Leste  2015      50.76
             2016      49.01
             2017      47.27
             2018      45.62
             2019      44.22
Name: First Tooltip, Length: 860, dtype: object

```{admonition} 85번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9423&end=9503></iframe></div>
```

In [ ]:
Ans = target.pivot(index='Location',columns='Period',values='First Tooltip')

In [ ]:
target.pivot(index = 'Location', columns = 'Period', values = 'First Tooltip')

In [ ]:
Ans.head(3)

Period        2015   2016   2017   2018   2019
Location
Afghanistan  70.44  67.57  64.94  62.54  60.27
Albania       9.57   9.42   9.42   9.53   9.68
Algeria      25.18  24.79  24.32  23.81  23.26

```{admonition} Question 86
check
**Dim1에 따른 년도별 사망비율의 평균을 구하라**
```

In [25]:
df.pivot_table(index='Dim1',columns='Period',values='First Tooltip',aggfunc='mean')

<ipython-input-25-4b2f2160437c>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  df.pivot_table(index='Dim1',columns='Period',values='First Tooltip',aggfunc='mean').iloc[:,:4]

Empty DataFrame
Columns: []
Index: [Both sexes, Female, Male]

```{admonition} 86번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9505&end=9550></iframe></div>
```

In [ ]:
Ans = df.pivot_table(index='Dim1',columns='Period',values='First Tooltip',aggfunc='mean')

In [ ]:
Ans.iloc[:,:4]

Period            1950        1951        1952        1953
Dim1
Both sexes  147.700816  155.537544  157.811094  156.147206
Female      140.909796  149.210175  151.516094  150.250882
Male        154.151224  161.538246  163.760781  161.742059

pandas에는 pivot과 pivot_table 두가지를 제공하는데, 차이는 pivot은 중복된 index와 column을 처리하지 못하는데, pivot_table은 처리할 수 있습니다. - 즉 Grouping을 할 수 있습니다. - 호출하는 방법도 다른데, pivot은 dataframe.pivot(index, columns, values)로 사용하고, pivot table은 pd.pivot_table(index, columns, values)로 사용합니다. 보통은 pd.pivot_table이 더 유연하기 때문에 더 많이 사용합니다.

```{attention}
올림픽 메달리스트 정보 데이터: https://www.kaggle.com/the-guardian/olympic-games
dataUrl ='https://raw.githubusercontent.com/Datamanim/pandas/main/winter.csv'
```

In [26]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/winter.csv')
df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

```{admonition} Question 87
**데이터에서 한국 KOR 데이터만 추출하라**
```

In [27]:
df[df['Country'] == 'KOR']

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
2652,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,1000M,Bronze
2653,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,1000M,Gold
2671,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,5000M Relay,Gold
2672,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,5000M Relay,Gold
2673,1992,Albertville,Skating,Short Track Speed Skating,"MO, Ji-Soo",KOR,Men,5000M Relay,Gold
...,...,...,...,...,...,...,...,...,...
5528,2014,Sochi,Skating,Short Track Speed Skating,"PARK, Seung-Hi",KOR,Women,500M,Bronze
5544,2014,Sochi,Skating,Speed skating,"JOO, Hyong Jun",KOR,Men,Team Pursuit,Silver
5545,2014,Sochi,Skating,Speed skating,"KIM, Cheol Min",KOR,Men,Team Pursuit,Silver
5546,2014,Sochi,Skating,Speed skating,"LEE, Seung Hoon",KOR,Men,Team Pursuit,Silver
5565,2014,Sochi,Skating,Speed skating,"LEE, Sang Hwa",KOR,Women,500M,Gold

```{admonition} 87번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9552&end=9613></iframe></div>
```

In [28]:
kr = df[df.Country=='KOR']
Ans = kr

In [ ]:
Ans.head(4)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
2652,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,1000M,Bronze
2653,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,1000M,Gold
2671,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,5000M Relay,Gold
2672,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,5000M Relay,Gold

```{admonition} Question 88
**한국 올림픽 메달리스트 데이터에서 년도에 따른 medal 갯수를 데이터프레임화 하라**
```

In [31]:
kr.pivot_table(index = 'Year', columns = 'Medal', aggfunc = 'size')

Medal  Bronze  Gold  Silver
Year
1992      1.0   5.0     1.0
1994      1.0   8.0     1.0
1998      2.0   6.0     4.0
2002      NaN   5.0     2.0
2006      2.0  14.0     3.0
2010      2.0   6.0    10.0
2014      2.0   7.0     5.0

```{admonition} 88번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9615&end=9673></iframe></div>
```

In [ ]:
Ans = kr.pivot_table(index='Year',columns='Medal',aggfunc='size').fillna(0)

In [ ]:
Ans

Medal  Bronze  Gold  Silver
Year
1992      1.0   5.0     1.0
1994      1.0   8.0     1.0
1998      2.0   6.0     4.0
2002      0.0   5.0     2.0
2006      2.0  14.0     3.0
2010      2.0   6.0    10.0
2014      2.0   7.0     5.0

```{admonition} Question 89
**전체 데이터에서 sport종류에 따른 성별수를 구하여라**
```

In [34]:
df.pivot_table(index = 'Sport', columns = 'Gender', aggfunc = 'size')

Gender       Men  Women
Sport
Biathlon     270    150
Bobsleigh    416     36
Curling       97     75
Ice Hockey  1231    305
Luge         135     45
Skating      665    564
Skiing      1130    651

```{admonition} 89번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9675&end=9718></iframe></div>
```

In [ ]:
Ans = df.pivot_table(index='Sport',columns='Gender',aggfunc='size')

In [ ]:
Ans

Gender       Men  Women
Sport
Biathlon     270    150
Bobsleigh    416     36
Curling       97     75
Ice Hockey  1231    305
Luge         135     45
Skating      665    564
Skiing      1130    651

```{admonition} Question 90
**전체 데이터에서 Discipline종류에 따른 따른 Medal수를 구하여라**
```

```{admonition} 90번 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9720&end=9733></iframe></div>
```

In [ ]:
Ans = df.pivot_table(index='Discipline',columns='Medal',aggfunc='size')

In [ ]:
Ans

Medal                      Bronze  Gold  Silver
Discipline
Alpine Skiing                 141   143     144
Biathlon                      139   140     141
Bobsleigh                     147   134     141
Cross Country Skiing          263   264     262
Curling                        56    58      58
Figure skating                118   122     119
Freestyle Skiing               34    34      34
Ice Hockey                    512   510     514
Luge                           60    62      58
Nordic Combined                55    55      55
Short Track Speed Skating      96    97      97
Skeleton                       10    10      10
Ski Jumping                    68    69      70
Snowboard                      30    30      30
Speed skating                 190   193     197

## 07_Merge , Concat

```{attention}
국가별 5세이하 사망비율 통계 : https://www.kaggle.com/utkarshxy/who-worldhealth-statistics-2020-complete    
데이터 변형    
Dataurl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/mergeTEst.csv'
```

```{admonition} merge, concat 급종료 변명.. 유튜브 풀이
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9735&end=10000></iframe></div>
```

In [35]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/mergeTEst.csv',index_col= 0)

In [36]:
df1 = df.iloc[:4,:]
df2 = df.iloc[4:,:]

display(df1)
display(df2)

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Location,,,,,,,,,,
Afghanistan,64.023,61.640,59.367,57.170,55.08,53.107,51.267,49.560,47.983,46.453
Albania,11.803,10.807,9.943,9.267,8.79,8.493,8.363,8.363,8.453,8.597
Algeria,23.540,22.907,22.450,22.117,21.85,21.587,21.257,20.850,20.407,19.930
Andorra,4.240,4.033,3.843,3.667,3.49,3.330,3.187,3.060,2.933,2.827

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Location,,,,,,,,,,
Angola,75.713,71.280,67.233,63.570,60.430,57.757,55.510,53.460,51.757,50.093
Antigua and Barbuda,8.667,8.223,7.807,7.420,7.070,6.757,6.483,6.230,6.000,5.783
Argentina,12.887,12.380,11.840,11.283,10.733,10.203,9.683,9.177,8.680,8.227
Armenia,16.497,15.677,14.897,14.170,13.477,12.817,12.183,11.583,11.007,10.497
Australia,3.993,3.803,3.623,3.467,3.343,3.253,3.183,3.137,3.090,3.047
Austria,3.573,3.463,3.333,3.210,3.113,3.043,2.987,2.943,2.897,2.843

```{admonition} Question 91
**df1과 df2 데이터를 하나의 데이터 프레임으로 합쳐라**
```

In [40]:
pd.concat([df1, df2])

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Location,,,,,,,,,,
Afghanistan,64.023,61.640,59.367,57.170,55.080,53.107,51.267,49.560,47.983,46.453
Albania,11.803,10.807,9.943,9.267,8.790,8.493,8.363,8.363,8.453,8.597
Algeria,23.540,22.907,22.450,22.117,21.850,21.587,21.257,20.850,20.407,19.930
Andorra,4.240,4.033,3.843,3.667,3.490,3.330,3.187,3.060,2.933,2.827
Angola,75.713,71.280,67.233,63.570,60.430,57.757,55.510,53.460,51.757,50.093
Antigua and Barbuda,8.667,8.223,7.807,7.420,7.070,6.757,6.483,6.230,6.000,5.783
Argentina,12.887,12.380,11.840,11.283,10.733,10.203,9.683,9.177,8.680,8.227
Armenia,16.497,15.677,14.897,14.170,13.477,12.817,12.183,11.583,11.007,10.497
Australia,3.993,3.803,3.623,3.467,3.343,3.253,3.183,3.137,3.090,3.047
Austria,3.573,3.463,3.333,3.210,3.113,3.043,2.987,2.943,2.897,2.843

In [ ]:
total = pd.concat([df1,df2])
Ans = total

In [ ]:
Ans

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Location,,,,,,,,,,
Afghanistan,64.023,61.640,59.367,57.170,55.080,53.107,51.267,49.560,47.983,46.453
Albania,11.803,10.807,9.943,9.267,8.790,8.493,8.363,8.363,8.453,8.597
Algeria,23.540,22.907,22.450,22.117,21.850,21.587,21.257,20.850,20.407,19.930
Andorra,4.240,4.033,3.843,3.667,3.490,3.330,3.187,3.060,2.933,2.827
Angola,75.713,71.280,67.233,63.570,60.430,57.757,55.510,53.460,51.757,50.093
Antigua and Barbuda,8.667,8.223,7.807,7.420,7.070,6.757,6.483,6.230,6.000,5.783
Argentina,12.887,12.380,11.840,11.283,10.733,10.203,9.683,9.177,8.680,8.227
Armenia,16.497,15.677,14.897,14.170,13.477,12.817,12.183,11.583,11.007,10.497
Australia,3.993,3.803,3.623,3.467,3.343,3.253,3.183,3.137,3.090,3.047
Austria,3.573,3.463,3.333,3.210,3.113,3.043,2.987,2.943,2.897,2.843

In [41]:
df3 = df.iloc[:2,:4]
df4 = df.iloc[5:,3:]

display(df3)
display(df4)

               2010    2011    2012    2013
Location
Afghanistan  64.023  61.640  59.367  57.170
Albania      11.803  10.807   9.943   9.267

                       2013    2014    2015    2016    2017    2018    2019
Location
Antigua and Barbuda   7.420   7.070   6.757   6.483   6.230   6.000   5.783
Argentina            11.283  10.733  10.203   9.683   9.177   8.680   8.227
Armenia              14.170  13.477  12.817  12.183  11.583  11.007  10.497
Australia             3.467   3.343   3.253   3.183   3.137   3.090   3.047
Austria               3.210   3.113   3.043   2.987   2.943   2.897   2.843

```{admonition} Question 92
**df3과 df4 데이터를 하나의 데이터 프레임으로 합쳐라. 둘다 포함하고 있는 년도에 대해서만 고려한다**
```

In [47]:
pd.concat([df3,df4],join='inner')

                       2013
Location
Afghanistan          57.170
Albania               9.267
Antigua and Barbuda   7.420
Argentina            11.283
Armenia              14.170
Australia             3.467
Austria               3.210

In [ ]:
Ans = pd.concat([df3,df4],join='inner')

In [ ]:
Ans

                       2013
Location
Afghanistan          57.170
Albania               9.267
Antigua and Barbuda   7.420
Argentina            11.283
Armenia              14.170
Australia             3.467
Austria               3.210

```{admonition} Question 93
**df3과 df4 데이터를 하나의 데이터 프레임으로 합쳐라. 모든 컬럼을 포함하고, 결측치는 0으로 대체한다**
```

In [ ]:
Ans = pd.concat([df3,df4],join='outer').fillna(0)

In [ ]:
Ans

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Location,,,,,,,,,,
Afghanistan,64.023,61.640,59.367,57.170,0.000,0.000,0.000,0.000,0.000,0.000
Albania,11.803,10.807,9.943,9.267,0.000,0.000,0.000,0.000,0.000,0.000
Antigua and Barbuda,0.000,0.000,0.000,7.420,7.070,6.757,6.483,6.230,6.000,5.783
Argentina,0.000,0.000,0.000,11.283,10.733,10.203,9.683,9.177,8.680,8.227
Armenia,0.000,0.000,0.000,14.170,13.477,12.817,12.183,11.583,11.007,10.497
Australia,0.000,0.000,0.000,3.467,3.343,3.253,3.183,3.137,3.090,3.047
Austria,0.000,0.000,0.000,3.210,3.113,3.043,2.987,2.943,2.897,2.843

In [48]:
df5 = df.T.iloc[:7,:3]
df6 = df.T.iloc[6:,2:5]

display(df5)
display(df6)

Location  Afghanistan  Albania  Algeria
2010           64.023   11.803   23.540
2011           61.640   10.807   22.907
2012           59.367    9.943   22.450
2013           57.170    9.267   22.117
2014           55.080    8.790   21.850
2015           53.107    8.493   21.587
2016           51.267    8.363   21.257

Location  Algeria  Andorra  Angola
2016       21.257    3.187  55.510
2017       20.850    3.060  53.460
2018       20.407    2.933  51.757
2019       19.930    2.827  50.093

```{admonition} Question 94
**df5과 df6 데이터를 하나의 데이터 프레임으로 merge함수를 이용하여 합쳐라. Algeria컬럼을 key로 하고 두 데이터 모두 포함하는 데이터만 출력하라**
```

In [49]:
pd.merge(df5, df6, on='Algeria', how = 'inner')

Location  Afghanistan  Albania  Algeria  Andorra  Angola
0              51.267    8.363   21.257    3.187   55.51

In [ ]:
Ans = pd.merge(df5,df6,on='Algeria',how='inner')

In [ ]:
Ans

Location  Afghanistan  Albania  Algeria  Andorra  Angola
0              51.267    8.363   21.257    3.187   55.51

```{admonition} Question 95
**df5과 df6 데이터를 하나의 데이터 프레임으로 merge함수를 이용하여 합쳐라. Algeria컬럼을 key로 하고 합집합으로 합쳐라**
```

In [ ]:
Ans =pd.merge(df5,df6,on='Algeria',how='outer')

In [ ]:
Ans

Location  Afghanistan  Albania  Algeria  Andorra  Angola
0              64.023   11.803   23.540      NaN     NaN
1              61.640   10.807   22.907      NaN     NaN
2              59.367    9.943   22.450      NaN     NaN
3              57.170    9.267   22.117      NaN     NaN
4              55.080    8.790   21.850      NaN     NaN
5              53.107    8.493   21.587      NaN     NaN
6              51.267    8.363   21.257    3.187  55.510
7                 NaN      NaN   20.850    3.060  53.460
8                 NaN      NaN   20.407    2.933  51.757
9                 NaN      NaN   19.930    2.827  50.093